/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: rgba(205, 205, 205, 0.42);
}
/* Seccion menu*/

.nav__container {
  border-radius: 0px 0px 1.5rem 1.5rem;
  background-color: #d3d3d300;
  width: 80%;
  margin: 0 auto;
  height: 70px;
  z-index: 1000;
  padding: 20px;
  /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);*/
}
.titulo{
    color: #3f3f3f;
    grid-area: title;
    text-decoration: none; 
    font-size: 18px;
    font-weight: 500;
}

/* Estilos para el efecto de autotipeo */
.auto-type {
  color: rgb(161, 161, 161);
}

/*Navegacion*/
nav::-webkit-scrollbar {
  width: 2px; 
  height: 2px;
}
nav::-webkit-scrollbar-thumb {
  background-color: #52595e; 
  border-radius: 1px; 
}
nav::-webkit-scrollbar-track {
  background-color: #1b1b1b;
  border-radius: 1px; 
}
nav {
  border-radius: 10px;
  padding: 10px 0px 30px 0px;
  margin: 5px 5px 0px 0px;  /*10px 0px 10px 0px*/
  position: fixed;
  z-index: 1;
  right: 0px; /*left*/
  width: 25%;
  max-height: 97vh;
  overflow-y: auto;
  backdrop-filter: blur(2px);
  color: white;
  background-color: rgba(0, 0, 0, 0.615);
  transition: width 1s, max-height 2s 1s;
}
.menu-admi {
  width: 55px;
  max-height: 10px;
  overflow: hidden;
  border-radius: 10px;
  transition: width 1s, max-height 1s 1s, border-radius 2s;
}
.header{
  padding: 30px;
}
nav .header .menui {
  position: absolute;
  font-size: 30px;
  top: 5px;
  left: 12px;
  cursor: pointer;
}
/* INPUT BOX */
.input-search {
  padding: 10px 0 10px 0px;
  width: 100%;
  margin: 50px 0;
  background-color: #878787af;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.input-search i {
  font-size: 30px;
  margin-left: 15px;
}
.enlace-lista.hidden {
  display: none;
}  
.input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 30px;
  color: #ffffff;
  font-size: 18px;
  margin-left: 10px;
}
.input::placeholder {
  color: #c0c0c0;
}
.enlace i {
  margin-right: 20px;
  font-size: 25px;
}
/*Lista Desplegable*/
.lista{
  list-style: none;
  transition: all .3s ease;
  width: 100%;
  margin-left: 0;
}
.lista:has(:checked) {
  --rows: 1fr;
  --rotate: rotate(180deg);
  --bg: rgba(217, 217, 217, 0.289);;
}
.enlace-lista {
  padding: 20px 0 20px 17px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: rgb(184, 187, 191);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  position: relative;
  color: white;
}
.enlace-lista:hover {
  background: #878787af;
}
.enlace-lista i {
  margin-right: 20px;
  font-size: 25px;
}
.lista-check {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.icon {
  margin-left: auto;
  transform: var(--rotate, 0);
  transition: 0.3s transform;
}
.lista-content {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: 0.3s grid-template-rows;
  background-color: rgba(120, 120, 120, 0.479);
  border-radius: 8px;
}
.lista-sub {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.enlace-li {
  padding: 10px 0 10px 17px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  color: rgb(230, 230, 230);
}
.enlace-li:hover {
  background: #a7a3a354;
}

.buscador{
  margin-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #EEEEEE;
  border-radius: 10px;
  padding: 1px 20px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  transition: .5s ease;
}

.buscador:hover{
  width: 500px;
}

.buscar{
  width: 100%;
  height: 100%;
  color: #676767;
  font-size:15px ;
  border: none;
  outline: none;
  background: transparent;
}

.buscar::placeholder{
  color: #676767;
}

.iconi{
  font-size: 22px;
  color:#676767;
  cursor: pointer;
}
h1 {
  background-color: #676767;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.table-container {
  margin: 20px auto;
  width: 95%;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.204);
  border-radius: 10px;
  overflow-x:auto
}
.table {
  width: 100%;
  table-layout: fixed;
  min-width: 1000px;
  border-collapse: collapse;
  
}
thead th{
  background-color: #b8b8b8;
  font-weight: 600;
  color: #f5f5f5;
}

th, td {
  padding: 15px 5px 15px 5px; /* Mantén el padding superior e inferior, y quita el derecho y el izquierdo */
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
  word-break: break-all;
  font-size: 14px;
}

tr:hover td{
  color: #ffffff;
  cursor: pointer;
  background-color: #bbb9b9ce;
}

::placeholder{
  color: #3bc964;
}

::-webkit-scrollbar{
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track{
 box-shadow: inset 0 0 6px rgb(0,0, 0, 0.3); 
 border-radius: 8px;
}


::-webkit-scrollbar-thumb{
 box-shadow: inset 0 0 6px rgb(0,0, 0, 0.3); 
  border-radius: 8px;
}

/*botones de la tabla*/
/* Estilos para el botón "Editar" */
.editar {
  background-color: #28a745;
  color: #fff;
  padding: 3px 5px;
  border-radius: 7px;
  display: inline-block;
  text-decoration: none;
}

/* Estilos para el botón "Desactivar" */
.desactivar {
  background-color: #dc3545;
  color: #fff;
  padding: 3px 7px; 
  border-radius: 7px;
  display: inline-block; 
  margin-left: 4px;
  text-decoration: none;
}
/* Estilos para el botón "liquidar" */
.liquidacion {
  background-color: #28a745;
  color: #fff;
  padding: 3px 7px; 
  border-radius: 7px;
  display: inline-block; 
  margin-left: 4px;
  text-decoration: none; 
}
/* botones de la alert*/
.swal2-confirm {
  background-color: #28a745; 
  color: #fff; 
  border-color: #28a745; 
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border: 3px solid #2fb44e; 
  display: inline-block; 
  font-family: "Poppins", sans-serif;
}

.swal2-confirm:hover {
  background-color: #1e7e34; 
  border-color: #1e7e34;
  border: 2px solid #28a745; 
}

.swal2-cancel {
  background-color: #dc3545; 
  color: #fff; 
  border-color: #dc3545; 
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 12px;
  border: 2px solid #dc3545;
  font-family: "Poppins", sans-serif;
  display: inline-block;
}

.swal2-cancel:hover {
  background-color: #c82333;
  border-color: #c82333; 
  border: 3px solid #e33445; 
}

/*boton flotante*/
/* Estilos para el botón flotante */
.floating-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #7a79798d;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  animation: floating 1s infinite alternate ease-in-out;
}

/* Estilos para la animación permanente */
.floating-button:hover {
    border-radius: 14px;
    background-color: #2c2c2ca6;
}

/* Estilo del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
}

/* Contenido del modal */
.modal-content {
  background-color: #fff;
    margin: 5% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
    border-radius: 1.5rem;
}

/* Estilos para el formulario */
.formulario {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.text-center {
  text-align: center; 
  background-color: #ffffff;
  color: #676767;;
}

.mensaje {
  text-align: left; 
  margin-bottom: 20px; 
}

.col-md-6 {
  width: 100%;
  padding: 30px;
  
}

.form-group {
  margin-bottom: 5px;
  position: relative;
}

.form-group label {
  font-size: 15px;
  color: rgb(92, 92, 92);
  font-weight: bold;
}

.controls {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.controls::placeholder {
  color: rgb(92, 92, 92);
}

.bnt-agregar {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 20px;
  grid-column: span 3;
}

.botons-agregar {
  background-color: rgb(92, 92, 92);
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 1rem;
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
  margin-right: 10px; 
}

.botons-cancelar {
  background-color: #f44336;
  color: white; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  border-radius: 1rem;
  transition: background-color 0.3s, color 0.3s; 
}

.botons-agregar:hover{
  background-color: white; 
  color: rgb(92, 92, 92);
  border: 1px solid rgb(92, 92, 92);
}
.botons-cancelar:hover {
  background-color: white; 
  color: #f44336;  
  border: 1px solid #f44336;  
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .editar,
  .desactivar {
    padding: 3px 6px; 
    font-size: 12px; 
    margin: 2px;
  }
}

