@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #d4d4d4;
}
/* Seccion menu*/

.nav__container {
  border-radius: 0px 0px 1.5rem 1.5rem;
  background-color: #d3d3d300;
  width: 80%;
  margin: 0 auto;
  height: 70px;
  z-index: 1000;
  padding: 20px;
  /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);*/
}
.titulo{
    color: #3f3f3f;
    grid-area: title;
    text-decoration: none; 
    font-size: 18px;
    font-weight: 500;
}

/* Estilos para el efecto de autotipeo */
.auto-type {
  color: rgb(161, 161, 161);
}

/*Navegacion*/
nav::-webkit-scrollbar {
  width: 2px; 
  height: 2px;
}
nav::-webkit-scrollbar-thumb {
  background-color: #52595e; 
  border-radius: 1px; 
}
nav::-webkit-scrollbar-track {
  background-color: #1b1b1b;
  border-radius: 1px; 
}
nav {
  border-radius: 10px;
  padding: 10px 0px 30px 0px;
  margin: 5px 5px 0px 0px;  /*10px 0px 10px 0px*/
  position: fixed;
  z-index: 1;
  right: 0px; /*left*/
  width: 25%;
  max-height: 97vh;
  overflow-y: auto;
  backdrop-filter: blur(2px);
  color: white;
  background-color: rgba(0, 0, 0, 0.615);
  transition: width 1s, max-height 2s 1s;
}
.menu-admi {
  width: 55px;
  max-height: 10px;
  overflow: hidden;
  border-radius: 10px;
  transition: width 1.5s, max-height 2s 1s, border-radius 2s;
}
.header{
  padding: 30px;
}
nav .header .menui {
  position: absolute;
  font-size: 30px;
  top: 5px;
  left: 12px;
  cursor: pointer;
}
/* INPUT BOX */
.input-search {
  padding: 10px 0 10px 0px;
  width: 100%;
  margin: 50px 0;
  background-color: #878787af;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.input-search i {
  font-size: 30px;
  margin-left: 15px;
}
.enlace-lista.hidden {
  display: none;
}  
.input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 30px;
  color: #ffffff;
  font-size: 18px;
  margin-left: 10px;
}
.input::placeholder {
  color: #c0c0c0;
}
.enlace i {
  margin-right: 20px;
  font-size: 25px;
}
/*Lista Desplegable*/
.lista{
  list-style: none;
  transition: all .3s ease;
  width: 100%;
  margin-left: 0;
}
.lista:has(:checked) {
  --rows: 1fr;
  --rotate: rotate(180deg);
  --bg: rgba(217, 217, 217, 0.289);;
}
.enlace-lista {
  padding: 20px 0 20px 17px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: rgb(184, 187, 191);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  position: relative;
  color: white;
}
.enlace-lista:hover {
  background: #878787af;
}
.enlace-lista i {
  margin-right: 20px;
  font-size: 25px;
}
.lista-check {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.icon {
  margin-left: auto;
  transform: var(--rotate, 0);
  transition: 0.3s transform;
}
.lista-content {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: 0.3s grid-template-rows;
  background-color: rgba(120, 120, 120, 0.479);
  border-radius: 8px;
}
.lista-sub {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.enlace-li {
  padding: 10px 0 10px 17px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  color: rgb(230, 230, 230);
}
.enlace-li:hover {
  background: #a7a3a354;
}


/* botones de la alert*/
.swal2-confirm {
  background-color: #28a745; 
  color: #fff; 
  border-color: #28a745; 
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border: 3px solid #2fb44e; 
  display: inline-block; 
  font-family: "Poppins", sans-serif;
}

.swal2-confirm:hover {
  background-color: #1e7e34; 
  border-color: #1e7e34;
  border: 2px solid #28a745; 
}

.swal2-cancel {
  background-color: #dc3545; 
  color: #fff; 
  border-color: #dc3545; 
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 12px;
  border: 2px solid #dc3545;
  font-family: "Poppins", sans-serif;
  display: inline-block;
}

.swal2-cancel:hover {
  background-color: #c82333;
  border-color: #c82333; 
  border: 3px solid #e33445; 
}


.scroll-to-top:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  cursor: pointer;
}

/* Estilo del modal de bienvenida */
#modal-bienvenida {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  width: 40%;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Para apilar la imagen y el título verticalmente */
}
.modal-header h2{
  color: #646464;
}

.modal-icon {
  width: 60%; /* Ajusta el tamaño de la imagen */
  height: 60%; /* Ajusta el tamaño de la imagen */
  margin-bottom: 10px; /* Espacio entre la imagen y el título */
}

#cerrar-modal {
  background-color: #646464;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
#cerrar-modal:hover {
  background-color: #ffffff; /* Color de fondo al hacer hover */
  color: #646464; 
border: 1px solid #646464 ;
}


:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

.bx{
    font-size: 1.7rem;
}

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}


.content main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
}

.content main .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s; /* Agregar transiciones */
  }
  
  /* Estilos en hover */
  .content main .insights li:hover {
    transform: scale(1.05); /* Zoom al 105% en hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra en hover */
  }
.content main .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .insights li:nth-child(1) .bx{
    background: var(--light-primary);
    color: var(--primary);
}

.content main .insights li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warning);
}

.content main .insights li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}

.content main .insights li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--danger);
}

.content main .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content main .insights li .info p{
    color: var(--dark);
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx{
    cursor: pointer;
}

.content main .bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;
}

.content main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.content main .bottom-data .orders table td{
    padding: 16px 0;
}

.content main .bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.content main .bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

.content main .bottom-data .orders table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.content main .bottom-data .orders table tr td .status.completed{
    background: var(--success);
}

.content main .bottom-data .orders table tr td .status.process{
    background: var(--primary);
}

.content main .bottom-data .orders table tr td .status.pending{
    background: var(--warning);
}



@media screen and (max-width: 768px) {
    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {
    
    .content nav form .form-input input{
        display: none;
    }

    .content nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .content nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button{
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .content nav form.show~.notif, .content nav form.show~.profile{
        display: none;
    }

    .content main .insights {
        grid-template-columns: 1fr;
    }

    .content main .bottom-data .header{
        min-width: 340px;
    }

    .content main .bottom-data .orders table{
        min-width: 340px;
    }

    .content main .bottom-data .reminders .task-list{
        min-width: 340px;
    }

}


/*barra lateral*/
::-webkit-scrollbar{
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track{
 box-shadow: inset 0 0 6px rgb(0,0, 0, 0.3); 
 border-radius: 8px;
}


::-webkit-scrollbar-thumb{
 box-shadow: inset 0 0 6px rgb(0,0, 0, 0.3); 
  border-radius: 8px;
}

