@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,300;1,600&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  margin-bottom: 20px ;
}

header,
.contenido {
  width: 95%;
  margin: 0 auto; /* Centra horizontalmente */
}

header {
  width: 95%;
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) minmax(
        min-content,
        35%
      );
    gap: 30px;
    align-items: flex-end;
}
.titulo{
  color: #585858;
  grid-area: title;
  text-decoration: none; 
  font-size: 18px;
}

.auto-type {
  color: rgb(161, 161, 161);
}

/*Navegacion*/
nav::-webkit-scrollbar {
  width: 2px; 
  height: 2px;
}
nav::-webkit-scrollbar-thumb {
  background-color: #52595e; 
  border-radius: 1px; 
}
nav::-webkit-scrollbar-track {
  background-color: #1b1b1b;
  border-radius: 1px; 
}
nav {
  border-radius: 10px;
  padding: 10px 0px 30px 0px;
  margin: 5px 5px 0px 0px;  /*10px 0px 10px 0px*/
  position: fixed;
  z-index: 1;
  right: 0px; /*left*/
  width: 25%;
  max-height: 97vh;
  overflow-y: auto;
  backdrop-filter: blur(2px);
  color: white;
  background-color: rgba(0, 0, 0, 0.615);
  transition: width 1s, max-height 2s 1s;
}
.menu-admi {
  width: 55px;
  max-height: 10px;
  overflow: hidden;
  border-radius: 10px;
  transition: width 1.5s, max-height 2s 1s, border-radius 2s;
}
.header{
  padding: 30px;
}
nav .header .menui {
  position: absolute;
  font-size: 30px;
  top: 5px;
  left: 12px;
  cursor: pointer;
}
/* INPUT BOX */
.input-search {
  padding: 10px 0 10px 0px;
  width: 100%;
  margin: 50px 0;
  background-color: #878787af;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.input-search i {
  font-size: 30px;
  margin-left: 15px;
}
.enlace-lista.hidden {
  display: none;
}  
.input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 30px;
  color: #ffffff;
  font-size: 18px;
  margin-left: 10px;
}
.input::placeholder {
  color: #c0c0c0;
}
.enlace i {
  margin-right: 20px;
  font-size: 25px;
}
/*Lista Desplegable*/
.lista{
  list-style: none;
  transition: all .3s ease;
  width: 100%;
  margin-left: 0;
}
.lista:has(:checked) {
  --rows: 1fr;
  --rotate: rotate(180deg);
  --bg: rgba(217, 217, 217, 0.289);;
}
.enlace-lista {
  padding: 20px 0 20px 17px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: rgb(184, 187, 191);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  position: relative;
  color: white;
}
.enlace-lista:hover {
  background: #878787af;
}
.enlace-lista i {
  margin-right: 20px;
  font-size: 25px;
}
.lista-check {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.icon {
  margin-left: auto;
  transform: var(--rotate, 0);
  transition: 0.3s transform;
}
.lista-content {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: 0.3s grid-template-rows;
  background-color: rgba(120, 120, 120, 0.479);
  border-radius: 8px;
}
.lista-sub {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.enlace-li {
  padding: 10px 0 10px 17px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  color: rgb(230, 230, 230);
}
.enlace-li:hover {
  background: #a7a3a354;
}



.tabs {
  display: flex;
  justify-content: space-between;
  color: #969593;
  border-bottom: 1px solid #dadada;
}
.tabs a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  display: inline-flex;
  transition: 0.25s ease;
}
.tabs a.active, .tabs a:hover, .tabs a:focus {
  color: #000000;
  border-color: #000000;
}

.header-actions {
  display: flex;
  align-items: center;
  align-content: flex-end;
  margin-left: 30px;
}

.header-actions-buttons {
  display: flex;
  border-left: 1px solid #dadada;
  margin-left: 2rem;
  padding-left: 2rem;
}
.header-actions-buttons > * + * {
  margin-left: 1rem;
}


.user-profile {
  display: flex;
  align-items: center;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: #969593;
  transition: 0.25s ease;
}
.user-profile:hover, .user-profile:focus {
  color:  #2a2a2a;
}
.user-profile:hover span:last-child, .user-profile:focus span:last-child {
  box-shadow: 0 0 0 4px #dfdfdf, 0 0 0 5px #969593;
}
.user-profile span:first-child {
  display: flex;
  font-size: 1.125rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dadada;
  font-weight: 300;
}
.user-profile span:last-child {
  transition: 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius:1rem;
  overflow: hidden;
  margin-left: 1.5rem;
  flex-shrink: 0;
}

.icon-button {
  width: 32px;
  height: 32px;
  border-radius: 0.7rem;
  background-color: transparent;
  border: 1px solid #969593;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s ease;
  flex-shrink: 0;
}
.icon-button.large {
  width: 42px;
  height: 42px;
  font-size: 1.25em;
}
.icon-button i {
  transition: 0.25s ease;
}
.icon-button:hover, .icon-button:focus {
  background-color: #dadada;
  box-shadow: 0 0 0 4px #dfdfdf, 0 0 0 5px #969593;
}

.contenido{
  width: 95%;
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) minmax(
    min-content, 40%
  );
  gap: 25px;
  padding-top: 2.5rem;
}

.card {
  /*border: 1px solid #ddd;*/
  padding: 20px;
  border-radius: 1.2rem;
  overflow: hidden;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: rgba(217, 217, 217, 0.181);
}

.card .info-general{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 50px;
  margin-left: 50px;
}

.body-tarjeta {
  display: flex;
}

.card-container,
.card-container2 {
  width: 350px;
  height: 200px;
  position: relative;
  overflow: hidden; /* Oculta el contenido que se desborda */
}

.card-container {
  background-color: #ffffff;
  border-radius: 1.5rem;
  padding: 20px;
  z-index: 2; /* Asegura que card-container esté sobre card-container2 */
}

.card-container2 {
  background-color: #f3f3f3;
  border: 1px solid #e2dfdf;
  border-radius: 1.5rem;
  z-index: 1; /* card-container2 detrás de card-container */
  margin-top: -20px; /* Márgenes positivos para que se vea un poco en la parte superior */
  margin-right: -370px; /* Márgenes positivos para que se vea un poco en la parte derecha */
}

.card-container2 .linea {
  margin-top: 40px;
  height: 30px;
  width: 100%;
  background-color: black;
}

.card-content {
  color: #333333;
}

.card-content .img-chip {
  width: 50px;
  height: 40px;
  margin: 15px 0;
}

.tipo-card {
  font-weight: bold;
  margin-left: 140px;
}

.card-number {
  margin-bottom: 15px;
}

.card-expiry {
  font-size: 14px;
}

.card-expiry .img-card {
  width: 50px;
  height: 30px;
  margin-bottom: -5px;
}

.card-expiry span {
  font-weight: bold;
  margin-right: 150px;
}

.agregar-cuenta{
  margin-left: 15%;
  background-color: rgba(181, 181, 181, 0.201);
  border-radius: 1.5rem;
  width: 70%;
  height: 90%;
  display: flex;
  align-content: center;
  text-align: center;
  
  flex-direction: column; 
}

.sub-card i{
  font-size: 25px;
  color: gray;
  background-color: rgb(255, 255, 255);
  border-radius: 1.5rem;
  padding: 15%  15%;
  margin: 20px 30px;
  cursor: pointer;
}

.sub-card i:hover{
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.291);
}

.balance-section{
  display: flex;
  align-items: center;
  text-align: center;
  align-content: baseline;
  justify-content: center;
  flex-direction: column; 
}

.balance-section h1{
  color: gray;
  margin: 20px 0;
}

.balance-content{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgba(181, 181, 181, 0.201);
  padding: 20px;
  border-radius: 1rem;
}

.balance-content .items{
  padding: 15px 10px;
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.balance-content .items i{
  font-size: 25px;
  color: gray;
}

.transfer-section-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.181);
  flex: 1 1 auto;

}
.transfer-section-header h2 {
  font-size: 1.5rem;
  border-right: 1px solid rgba(0, 0, 0, 0.181);
  margin-right: 1.25rem;
  padding-right: 1.25rem;
}

.transfer-section-header h2 + * {
  margin-left: auto;
  margin-right: 0.75rem;
}

.transfers {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.transfer {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.875rem;
}

.transfer + * {
  margin-top: 2rem;
}

.transfer-logo {
  background-color: rgba(236, 236, 236, 0.571);
  box-shadow: 1px 1px 4px #dfdfdf;
  border-radius: 0.7rem;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transfer-logo img {
  width: 75%;
}

.transfer-details {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.transfer-details div {
  width: calc(100% / 3 - 1rem);
}

.transfer-details div + div {
  margin-left: 1rem;
}

.transfer-details dd {
  color: gray;
  margin-top: 2px;
}

.transfer-number {
  margin-left: 2rem;
  font-size: 1.125rem;
  flex-shrink: 0;
  width: 15%;
  display: flex;
  justify-content: flex-end;
}

.transfer-number:hover {
  color: #860505;
}
@media (max-width: 1000px) {
  .filter-options p {
    display: none;
  }
  .transfer-details div {
    width: 100%;
  }
  .transfer-details div + div {
    margin-left: 0;
    margin-top: 1rem;
  }
  .transfer-details {
    flex-wrap: wrap;
    margin-left: 0;
    margin-top: 1rem;
  }
  .transfer {
    align-items: flex-start;
    flex-direction: column;
  }
  .transfer-number {
    margin-left: 0;
    margin-top: 1.25rem;
    width: 100%;
    justify-content: flex-start;
  }
}
.gastos-section{
  display: flex;
  align-items: center;
  text-align: center;
  align-content: baseline;
  justify-content: center;
  flex-direction: column; 
}

.gastos-section .total{
  padding: 15px 20px;
  border-radius: 1rem;
  background-color: rgba(181, 181, 181, 0.201);
}

.gastos-section .total span{
 font-weight: bold;
 color: #808080;
}

.gastos-section .container-barra {
  align-items: center;
  justify-content: center;
  display: grid;
  place-items: center;
  margin: 20px 0;
}
.circular-progress {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 77%;
  width: 77%;
  background-color: #ffffff;
  border-radius: 50%;
}
.value-container {
  position: relative;
  font-size: 30px;
}

footer{ 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: end;
}

.footer {
  width: 95%;
  margin-top: 50px;
}

.footer h1 {
  font-size: 1.5rem;
  line-height: 1.125;
  display: flex;
  align-items: flex-end;
}

.footer h1 small {
  font-size: 0.5em;
  margin-right: 0.25em; 
}

.footer div {
  border-top: 1px solid #dadada;
  margin-top: 1.5rem;
  padding-top: 1rem;
  font-size: 0.75rem;
  color: var(--c-text-tertiary);
}


/*la barra de desplazamiento de la ventana  */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(173, 174, 177);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-horizontal {
  height: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
  background:rgb(173, 174, 177);
}

::-webkit-scrollbar-track:horizontal {
  background: #f1f1f1;
}
