@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,300;1,600&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

/*---Inicio de la barra de navegacion---*/
.navbar {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  padding: 10px;
}

.navbar h3 {
  margin-right: auto;
}

.navbar a {
  padding: 20px;
  text-decoration: none;
  color: black; 
  margin-right: 10px;
}

.navbar a:hover {
  background-color: rgba(188, 185, 185, 0.583);
  border-radius: 1rem;
}

.navbar a:visited {
  color: black;
}

#buscar-content {
  display: none;
  position: absolute;
  padding: 10px;
  top: 90px;
  right: 1%;
  width: 350px;
  z-index: 999;
  background: #ffffff00;
  /*box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);*/
  border-radius: 0 0 1rem 1rem;
}

.input-correo {
  position: relative;
  width: 100%;
}

#buscar i {
  transition: transform 0.3s;
}

#buscar-content button i {
  font-size: 25px;
  padding: 2px;
  border-radius: 0.6rem;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

#buscar-content button i:hover {
  background-color: rgba(255, 255, 255, 0.845);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.685);
  color: rgba(99, 99, 99, 0.583);
  transition: 1s ease;
}

.input-correo input {
  width: 70%;
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
  background-color: #20217000;
  border-radius: 0.8rem;
  outline: none;
  color: #ffffff;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}

.input-correo input::placeholder {
  color: #fff;
}

.input-correo button {
  position: absolute;
  right: 23%; 
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.navbar .login{
  border: 1px solid rgba(188, 185, 185, 0.583);
  border-radius: 1rem;
  margin-right: -2px;
  background-color: rgba(188, 185, 185, 0.583);
}

.navbar .login:hover{
  border: 1px solid rgba(188, 185, 185, 0.583);
  background-color: rgb(255, 255, 255);
}
/*---Fin de la barra de navegacion---*/


/*---Inicio del contenedor principal de presentacion---*/
.container-top {
  text-align: left;
  border-radius: 1.5rem;
  width: 90%;
  height: 400px;
  background-image: linear-gradient(to right, #000000dd, rgba(58, 57, 72, 0.275)),
    url("/static/Recources/Fondo5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.container-top .content{
  margin-top: 4%;
  padding: 30px;
}
.container-top .text-content{
  color: white;
  margin-left: 70px;
}

.container-top .text-content p{
  font-size: 20px;
}

.container-top .text-content h1 {
  margin-bottom: -10px; 
  font-size: 40px;
  font-weight: 450;
  letter-spacing: 2px;
}
/*---fin del contenedor principal de presentacion---*/


/*---Inicio del contenedor de la barra de presentacion---*/
.container-barra {
  margin-top: -75px;
  z-index: 1;
  width: 80%;
  height: 150px;
  border-radius: 20px;
  background-color: #d2d2d28b;
  color: #0b0d3c;
  box-shadow: 5px 5px 15px #49494926;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 5px;
  margin-bottom: 100px;
  backdrop-filter: blur(20px);
  align-items: center;
  justify-content: center;
}

.container-barra > div {
  display: flex;
  align-items: center;
  text-align: center;
  align-content: baseline;
  justify-content: center;
  flex-direction: column; 
  padding: 10px;
}

.container-barra > div:not(:last-child) {
  border-right: 2px solid #0b0d3c; /* Borde derecho para todos los elementos excepto el último */
  padding-right: 20px;
  height: 20px;
}

.container-barra i {
  font-size: 20px;
  margin-right: 10px;
}

.container-barra h4,
.container-barra p {
  margin: 0;
  text-align: center;
}
/*---Fin del contenedor de la barra de presentacion---*/


/*---Inicio de la seccion de informacion de servicios---*/
.servicios-section {
  width: 90%;
  margin: 20px auto;
  text-align: left;
}

.servicios-section .card-content {
  width: 100%; 
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
}

.servicios-section .card {
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 4px 4px 15px #4949491f;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-align: center;
}

.servicios-section .card:hover{
  transform: scale(1.1);
}

.servicios-section .card i {
  font-size: 60px;
  color: rgba(128, 128, 128, 0.481);
  margin: 5px;
}

.servicios-section .card h2{
  font-weight: 300;
  margin-bottom: -10px;
}

.servicios-section .info-section h1{
  margin-bottom: -15px;
}

.servicios-section .info-line {
  margin-top: 50px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
/*---Fin de la seccion de informacion de servicios---*/


/*---Inicio de la seccion de detalles de los servicios---*/
.detalles-servicios{
  width: 90%;
  margin-bottom: 2%;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  text-wrap: balance;
}

.detalles-servicios .tex-content{
  width: 50%;
}

.detalles-servicios .botones{
  margin: 50px;
}

.detalles-servicios .tex-content a {
  border: 1px solid rgba(188, 185, 185, 0.583);
  margin-top: 50px;
  padding: 20px;
  text-decoration: none;
  color: black;
  border-radius: 1rem;
  margin-right: 10px;
}

.detalles-servicios .tex-content a:hover {
  background-color: rgba(188, 185, 185, 0.583);
  color: white;
  border-radius: 1rem;
}
/*---Fin de la seccion de detalles de los servicios---*/


/* ICONS */
.icon {
  color: rgba(188, 185, 185, 0.583);
  padding-top: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  animation: floatAnimation 2s infinite alternate ease-in-out;
}

/* Define la animación de flotación */
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px); 
  }
}

/*---Inicio de la seccion de experiencia---*/
.experiencia-section {
  display: flex;
  flex-direction: row-reverse; /* Invertir la dirección para colocar la imagen a la derecha */
  width: 90%;
  gap: 4rem;
  position: relative;
  margin-bottom: 50px;
}

.img-content {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 30%;
  margin: auto 0;
}

.img {
  border-radius: 2rem;
  width: 400px;
  height: 400px;
}

.experiencia-section .detalles {
  justify-content: center;
  flex-direction: column;
  flex: 1; 
}

.containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.experiencia-section .containers,
.experiencia-section .detalles {
  display: flex;
}

.container-detalles {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}
/*---Fin de la seccion de experiencia---*/


/*---Inicio de la seccion de ubicacion---*/
.ubicacion-section {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
  margin: 90px 0;
}

.ubicacion-section iframe {
  width: 60%;
  align-self: flex-start; /* Alinea la imagen a la izquierda */
  box-shadow: 4px 4px 15px #4949491f;
  height: 350px;
  border:  none;
  border-radius: 1.5rem;
}

.ubicacion-section .contect-ubicacion {
  width: 45%;
  text-align: left; 
  margin-left: 100px;
}

.ubicacion-section .detalles{
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20%;
}

.ubicacion-section .detalles h2{
  margin-bottom: -20px;
}
/*---Fin de la seccion de ubicacion---*/


/*---Inicio del contenedor de herramientas de programacion utilizadas---*/
.herramientas-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 90px 0px;
}

.herramientas-container h1, 
.herramientas-container p {
  text-align: center;
  margin-top: -5px;
}

.herramientas-container h1{
  margin-bottom: 60px;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

.article-container article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

.article-container article .icon {
  cursor: default;
}

.article-container article img {
  width: 70px;
  height: 70px;
}
/*---Fin del contenedor de herramientas de programacion utilizadas---*/


/*---Inicio de la seccion de fundadores---*/
.fundadores-section{
  width: 90%;
}

.fundadores-section .titulo{
  padding: 50px 0px ;
  text-align:right;
}

.fundadores-section .titulo h1{
  font-size: 40px;
  font-weight: 500;
}

.fundadores-section .integrantes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 100%;
  margin-bottom: 100px;
}

.fundadores-section .integrantes article {
  position: relative;
  width: 100%; 
  height: 350px;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 15px #4949491f;
  overflow: hidden;
  cursor: pointer;
}

.fundadores-section .integrantes article .thumb {
  width: 100%;
  height: 260px;
  background-size: cover;
  border-radius: 1.5rem;
}

.fundadores-section .integrantes article:nth-child(1) .thumb {
  background-image: url('/static/Recources/PARDO.jpg');
}

.fundadores-section .integrantes article:nth-child(2) .thumb {
  background-image: url('/static/Recources/WILLIAM.jpeg');
}

.fundadores-section .integrantes article:nth-child(3) .thumb {
  background-image: url('/static/Recources/DERIAN.jpeg');
}

.fundadores-section .integrantes article:nth-child(4) .thumb {
  background-image: url('/static/Recources/DANIEL.jpeg');
}

.fundadores-section .integrantes article .infos {
  border-radius: 1.5rem;
  width: 92%;
  height: 350px;
  position: relative;
  padding: 1px 24px;
  background: #fff;
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  z-index: 1;
}

.fundadores-section .integrantes article .infos .title {
  position: relative;
  margin: 10px 0;
  letter-spacing: 3px;
  color: #152536;
  font-size: 20px;
  text-shadow: 0 0 0px #32577f;
}

.fundadores-section .integrantes article .infos .flag {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 35px;
  height: 23px;
  background: url("/static/Recources/Img/colombia.png") no-repeat top right;
  background-size: 100% auto;
  display: inline-block;
}

.fundadores-section .integrantes article .infos .flag1 {
  position: absolute;
  top: 51%;
  right: 50px;
  transform: translateY(-50%);
  width: 35px;
  height: 23px;
  background: url("/static/Recources/Img/Sena1.jpg") no-repeat top right;
  background-size: 100% auto;
  display: inline-block;
}

.fundadores-section .integrantes article .infos .date,
.fundadores-section .integrantes article .infos .seats {
  font-weight: 500;
  color: rgba(21, 37, 54, 0.7);
}

.fundadores-section .integrantes article .infos .seats {
  display: inline-block;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}

.fundadores-section .integrantes article .infos .txt {
  line-height: 2;
  font-size: 0.95rem;
  color: rgba(47, 48, 48, 0.7);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}

.fundadores-section .integrantes article:hover .infos {
  transform: translateY(-260px);
}

.fundadores-section .integrantes article:hover .infos .seats,
.fundadores-section .integrantes article:hover .infos .txt {
  opacity: 1;
}

.fundadores-section .integrantes article .bottom{
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fundadores-section .integrantes article .bottom .social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 15px;
}

.fundadores-section .integrantes article .bottom .social-link {
  display: inline-block;
  margin: 0px 10px 10px; /* El primer valor se aplica al lado superior, el segundo a los lados derecho e izquierdo, el tercero al lado inferior */
  padding: 0px 4px 0px;
  font-size: 24px;
  color: rgba(47, 48, 48, 0.7);
  text-decoration: none;
  transition: color 0.3s ease; 
  border: 1px solid rgba(188, 185, 185, 0.583);
  border-radius: 0.5rem;
}

.fundadores-section .integrantes article .bottom .social-link:hover {
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.685);;
  background-color: rgba(188, 185, 185, 0.583);
  color: #fff;
}
/*---Fin de la seccion de fundadores---*/


/*---Inicio de la seccion de testimonios de usuarios---*/
.testimonios-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 100px 20px;
}

.testimonios-section .contenido {
  display: flex;
}

.testimonios-section .contenido  .texto {
  padding: 0px 7% 0px  0px ;
  width: 60%;
  text-align: center;
  text-wrap: balance;
}

.testimonios-section .contenido  .texto h1{
  font-size: 40px;
  font-weight: 500;
}

.testimonios-section .grid-gallery {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-auto-rows: 90px;
  grid-auto-flow: dense;
  grid-gap: 20px;
}

.testimonios-section .grid-gallery .grid-item {
  position: relative;
  background-color: #efefef;
  overflow: hidden;
  border-radius: 1.5rem;
  
}

.testimonios-section .grid-gallery .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.testimonios-section .grid-gallery .grid-item:hover img {
  transform: scale(1.1);
}

.testimonios-section .grid-gallery .grid-item:nth-child(3n - 3) {
  grid-column: span 3;
  grid-row: span 2;
}

.testimonios-section .grid-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.testimonios-section .grid-item:hover .overlay {
  opacity: 1;
}

.testimonios-section .overlay-content {
  text-align: center;
  color: #fff;
}
/*---Fin de la seccion de testimonios de usuarios---*/


/*---Hacer pagina responsive---*/
@media (max-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
  }

  .grid-gallery .grid-item:nth-child(3n - 2) {
    grid-column: unset;
    grid-row: unset;
  }
}


/*---Inicio del contenedor de compañias aliados---*/
.compañias-aliadas {
  width: 90%;
  margin: 100px 0px;
}

.compañias-aliadas p, 
.compañias-aliadas h2{
  text-wrap: balance;
  text-align: center;
}

.compañias-aliadas h2{
  font-weight: 200;
}
.compañias-aliadas .wrapper {
	display: flex;
	width: 100%;
}
.compañias-aliadas .wrapper .card {
	width: 100%;
  height: 100%;
	background: #ffffff;
	display: flex;
	position: relative;
	transition: 0.5s all ease-in-out;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 15px #4949491f;
  margin: 50px 20px;
  background-size: cover;
  background-position: center;
  border: none;
}
.compañias-aliadas .wrapper .card:hover {
	transform: translateY(-10px);
}
.compañias-aliadas .wrapper .card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.708);
	z-index: 2;
	opacity: 0;
	transition: 0.5s all;
  border-radius: 1.5rem;
}
.compañias-aliadas .wrapper .card:hover::before {
	opacity: 1;
}

.compañias-aliadas .wrapper .card .info {
	position: relative;
	color: #fff;
	z-index: 3;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s all;
  padding: 3rem 2rem;
}
.compañias-aliadas .wrapper .card:hover .info {
	opacity: 1;
	transform: translateY(0);
}

.compañias-aliadas .wrapper .card .info h1 {
	line-height: 40px;
	margin-bottom: -10px;
  font-weight: 450;
}
.compañias-aliadas .wrapper .card .info p {
	font-size: 15px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.compañias-aliadas .wrapper .card .info .btn {
	background: #fff;
	padding: 0.5rem 1rem;
	color: rgba(68, 67, 67, 0.871);
	font-size: 12px;
	cursor: pointer;
	border-radius: 0.5rem;
	text-decoration: none;
	transition: .4s ease-in-out;
}
.compañias-aliadas .wrapper .card .info .btn:hover {
	box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.685);
  background-color: rgba(188, 185, 185, 0.583);
  color: #fff;
}

.compañias-aliadas .card:nth-child(1) {
  background-image: url('/static/Recources/Compañias/1-Deloitte.jpg');
}

.compañias-aliadas .card:nth-child(2) {
  background-image: url('/static/Recources/Compañias/4-KPMG.jpg');
}

.compañias-aliadas .card:nth-child(3) {
  background-image: url('/static/Recources/Compañias/3-Globant.jpg');
}

.compañias-aliadas .card:nth-child(4) {
  background-image: url('/static/Recources/Compañias/5-Bakertilly.jpg');
}
/*---Fin del contenedor de compañias aliados---*/


/*---Inicio del contenedor de formulario de contacto---*/
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 1.5rem;
  width: 90%;
  height: 300px;
  background-color: gray;
}

.contacto .content {
  padding: 30px;
}

.contacto .text-content {
  color: white;
}

.contacto .text-content h1 {
  margin-bottom: -10px;
  text-wrap: balance;
}

.input-box {
  margin-top: 3%;
  position: relative;
}

.input-box input {
  height: 40px;
  width: 40%;
  padding: 10px;
  border: 2px solid #ffffff;
  background-color: rgba(53, 53, 55, 0.176);
  border-radius: 1rem;
  outline: none;
  color: #ffffff;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box button {
  position: absolute;
  right: 30%; 
  top: 50%; 
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.input-box button i {
  font-size: 25px;
  padding: 2px;
  border-radius: 0.6rem;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

.input-box button i:hover {
  background-color: rgba(255, 255, 255, 0.845);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.685);
  color: rgba(99, 99, 99, 0.583);
  transition: 1s ease;
}
/*---Fin del contenedor de formulario de contacto---*/


/* Estilos del modal */
.modal {
  z-index: 1100;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  background-color: #e3e3e3;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 1.5rem;
  width: 60%;
  text-align: center;
}

.modal-content form{
  margin: 0px 60px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}


.form-title {
  margin-bottom: 20px;
  color: rgb(88, 88, 88);
}

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.form-input {
  color: hsl(0, 0%, 52%);
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 0);
  font-size: 17px;
  font-weight: 400;
  padding: 18px 30px;
  border: 2px solid rgb(163, 163, 163);
  border-radius: 14px;
  outline: none;
}

.form-input::placeholder {
  font-weight: 500;
}

.form-input:focus {
  border: 2px solid hsl(0, 0%, 29%);
}

textarea.form-input {
  width: 94.5%;
  height: 100px;
  resize: vertical;
  margin-bottom: 25px;
}

textarea.form-input::-webkit-resizer {
  display: none;
}

.form-input:focus:invalid {
  border: 2px solid hsl(0, 0%, 29%);
}

.form button{
  padding: 7px;
  background-color: #7a79798d;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.25s ease, transform 0.2s ease;
  border: none;
  outline: none;
}

.form button::before {
  transition: 0.5s ease;
}

.form button:hover {
  background-color: #2c2c2ca6;
  transform: scale(1.2);
}

.form button i{
  font-size: 40px;
  color:hsl(0, 0%, 100%)
}
/* Estilos del modal */

/*---Inicio de footer(parte final de la pagina)---*/
footer {
  width: 90%;
  text-align: center;
}

.footer-content {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.footer-content .mensaje-final{
  width: 30%;
  text-align: left;
}

.column-info{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.footer-info, .footer-social {
  flex: 1;
}

.footer-line {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.derechos{
  margin: 30px 0px;
}

.social-icon {
  display: inline-block;
  margin: 0px 10px 10px; /* El primer valor se aplica al lado superior, el segundo a los lados derecho e izquierdo, el tercero al lado inferior */
  padding: 0px 4px 0px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease; 
  border: 1px solid rgba(188, 185, 185, 0.583);
  border-radius: 0.5rem;
}

.social-icon:hover {
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.685);;
  background-color: rgba(188, 185, 185, 0.583);
  color: #fff;
}
/*---Fin de footer(parte final de la pagina)---*/

/*---Estilo general para el boton flotante---*/
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid rgba(188, 185, 185, 0.583);
  border-radius: 15px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  animation: floating 1s infinite alternate ease-in-out;
}

.scroll-to-top:hover {
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.685);;
  background-color: rgba(188, 185, 185, 0.583);
  color: #fff;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}  
/*---Estilo general para el boton flotante---*/

/*la barra de desplazamiento de la ventana  */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(173, 174, 177);
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-horizontal {
    height: 5px;
  }

  ::-webkit-scrollbar-thumb:horizontal {
    background:rgb(173, 174, 177);
  }

  ::-webkit-scrollbar-track:horizontal {
    background: #f1f1f1;
  }
