<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista Cargos | GROUPNOMIMANE</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Recources/Styles/Estilocar.css') }}"
    />
    <link
      rel="icon"
      href="{{url_for('static', filename='Recources/logo.png')}}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <style>
    /* Estilos del modal */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }

    .modal-content {
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      border-radius: 5px;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
    }
  </style>
  <body>
    <nav class="menu-admi" id="nav">
      <!-- Tipo 1 -->
      <div class="header">
        <!-- INPUT SEARCH -->
        <div class="input-search">
          <i class="bx bx-search"></i>
          <input
            type="text"
            class="input"
            placeholder="Buscar"
            id="search-input"
          />
        </div>
        <!-- MENU -->
        <div class="menu">
          <a href="{{url_for('index')}}" class="enlace-lista">
            <i class="bx bx-grid-alt"></i>
            <span>Inicio</span>
          </a>

          <a href="#" class="enlace-lista">
            <i class="bx bx-user"></i>
            <span>Usuarios</span>
          </a>

          <li class="lista">
            <a href="#" class="enlace-lista">
              <i class="bx bx-list-ul"></i>
              <span>Listados</span>
              <i class="icon bx bx-chevron-down"></i>
              <input type="checkbox" class="lista-check" />
            </a>

            <div class="lista-content">
              <ul class="lista-sub">
                <a href="{{ url_for('trabajadores') }}" class="enlace-li"
                  >Empleados</a
                >
                <a href="{{url_for('inactivos')}}" class="enlace-li"
                  >Empleados Inactivos</a
                >
                <a
                  href="{{ url_for('listar_departamentos') }}"
                  class="enlace-li"
                  >Departamentos</a
                >
                <a
                  href="{{ url_for('departamentos_Inactivos') }}"
                  class="enlace-li"
                  >Departamentos Inactivos</a
                >
                <a href="{{ url_for('cargos') }}" class="enlace-li">Cargos</a>
              </ul>
            </div>
          </li>

          <li class="lista">
            <a href="#" class="enlace-lista">
              <i class="bx bx-file"></i>
              <span>Reportes</span>
              <i class="icon bx bx-chevron-down"></i>
              <input type="checkbox" class="lista-check" />
            </a>

            <div class="lista-content">
              <ul class="lista-sub">
                <a href="{{ url_for('reportes') }}" class="enlace-li"
                  >Reporte General</a
                >
                <a href="#" class="enlace-li">Boletin Pago</a>
                <a href="#" class="enlace-li">Boletin Nomina</a>
                <a href="#" class="enlace-li">No se</a>
              </ul>
            </div>
          </li>

          <a href="#" class="enlace-lista">
            <i class="bx bx-cog"></i>
            <span>Configuración</span>
          </a>

          <a
            href="{{ url_for('logout') }}"
            class="enlace-lista"
            onclick="confirmLogout(event)"
          >
            <i class="bx bx-exit"></i>
            <span>Salir</span>
          </a>
        </div>
        <i class="menui bx bx-menu-alt-left" id="menu-admi"></i>
      </div>
    </nav>
    <header class="nav__container">
      <a href="{{url_for('index')}}" class="titulo" id="autotype">
        Group| <span class="auto-type"></span>
      </a>
    </header>

    <div class="buscador">
      <input
        class="buscar"
        type="text"
        placeholder="Buscar cargo"
        id="search"
      />
      <i class="iconi fa-solid fa-magnifying-glass"></i>
    </div>

    <div class="table-container">
      <div class="cargo">
        <form method="post" action="/cargos">
          <label for="departamento">Selecciona un departamento:</label>
          <select id="departamento" name="departamento">
            <option value="0">Seleccione una opción</option>
            {% for departamento in departamentos %}
            <option value="{{ departamento.ID }}">
              {{ departamento.Nombre }}
            </option>
            {% endfor %}
          </select>
          <input class="eleccion" type="submit" value="Mostrar Cargos" />
        </form>
      </div>
      {% if cargos %} {% set departamento_id = cargos[0].Departamento_ID %} {%
      set departamento_encontrado = false %} {% for departamento in
      departamentos %} {% if not departamento_encontrado and departamento.ID ==
      departamento_id %} {% set departamento_encontrado = true %}
      <h1>Lista de Cargos de {{ departamento.Nombre }}</h1>
      {% endif %} {% endfor %} {% endif %}
      <table class="table" id="employee-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Salario Base</th>
            <th>Nivel de Riesgo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for cargo in cargos %}
          <tr>
            <td>{{ cargo.ID }}</td>
            <td>{{ cargo.Nombre }}</td>
            <td>{{ cargo.Salario_Base }}</td>
            <td>{{ cargo.Riesgo_LV }}</td>
            <td>
              <form method="post" action="/desactivar_cargo">
                <input type="hidden" name="cargo_id" value="{{ cargo.ID }}" />
                <input type="submit" value="Desactivar" class="desactivar" />
                <button type="button" class="editar" onclick="abrirModalEditar('{{ cargo.ID }}', '{{ cargo.Nombre }}', '{{ cargo.Salario_Base }}', '{{ cargo.Riesgo_LV }}')">Editar</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <button id="btnAgregarCargo">Añadir Cargo</button>
    
    <div id="modalAgregarCargo" class="modal">
      <div class="modal-content">
        <span class="close" id="cerrarModal">&times;</span>
        <h2>Añadir Cargo</h2>
        <form id="formAgregarCargo" method="post" action="{{ url_for('agregar_cargos') }}">
          <input type="hidden" name="Departamento_id" id="Departamento_id" value="{{ departamento_id }}">
          <label for="nombre_cargo">Nombre del Cargo:</label>
          <input type="text" name="nombre_cargo" id="nombre_cargo" required>
          <label for="salario_base">Salario Base:</label>
          <input type="number" name="salario_base" id="salario_base" required>
          <label for="nivel_riesgo">Nivel de Riesgo:</label>
          <input type="text" name="nivel_riesgo" id="nivel_riesgo" required>
          <input type="submit" value="Guardar">
        </form>
      </div>
    </div>

    <div id="modalEditarCargo" class="modal">
      <div class="modal-content">
        <span class="close" id="cerrarModalEditar">&times;</span>
        <h2>Editar Cargo</h2>
        <form id="formEditarCargo" method="post" action="{{ url_for('editar_cargo') }}">
          <input type="hidden" name="cargo_id_edit" id="cargo_id_edit" value="">
          <label for="nombre_cargo_edit">Nombre del Cargo:</label>
          <input type="text" name="nombre_cargo_edit" id="nombre_cargo_edit" required>
          <label for="salario_base_edit">Salario Base:</label>
          <input type="number" name="salario_base_edit" id="salario_base_edit" required>
          <label for="nivel_riesgo_edit">Nivel de riesgo:</label>
          <select class="controls" name="nivel_riesgo" id="nivel_riesgo" required>
            <option value="I">I</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
            <option value="V">V</option>
          </select>
          <input type="submit" value="Guardar Edición">
        </form>
      </div>
    </div>
    
    <script>
      // Prevenir el envío del formulario al hacer clic en el botón de editar
      document.querySelectorAll(".editar").forEach(function(button) {
        button.addEventListener("click", function(event) {
          event.preventDefault();
        });
      });
    </script>
    <script>
      // Abrir el modal cuando se haga clic en el botón "Añadir"
      document.getElementById("btnAgregarCargo").addEventListener("click", function() {
        var modal = document.getElementById("modalAgregarCargo");
        modal.style.display = "block";
      });
    
      // Cerrar el modal cuando se haga clic en la "x"
      document.getElementById("cerrarModal").addEventListener("click", function() {
        var modal = document.getElementById("modalAgregarCargo");
        modal.style.display = "none";
      });
    
      // Establecer el valor del ID del departamento en el formulario cuando se abra el modal
      document.getElementById("btnAgregarCargo").addEventListener("click", function() {
        var departamentoId = obtenerDepartamentoId(); // Obtén el ID del departamento (puedes usar JavaScript para obtenerlo)
        document.getElementById("departamento_id").value = departamentoId;
      });
    
      $(document).ready(function() {
        // Cuando la página esté lista, realiza la solicitud AJAX
        var departamentoId = obtenerDepartamentoId(); // Obtén el ID del departamento (puedes usar JavaScript para obtenerlo)
        $.ajax({
          type: "GET",
          url: "/cargos/" + departamentoId,
          dataType: "json",
          success: function(data) {
            // Manipula los datos y muestra la lista de cargos
            var cargosList = $("#cargos-list");
            cargosList.empty(); // Limpia el contenido previo si lo hubiera
    
            data.forEach(function(cargo) {
              var cargoHtml = "<p>ID: " + cargo.ID + ", Nombre: " + cargo.Nombre + ", Salario Base: " + cargo.Salario_Base + "</p>";
              cargosList.append(cargoHtml);
            });
          },
          error: function(error) {
            console.log("Error al cargar los cargos: " + error);
          }
        });
      });
      function abrirModalEditar(id, nombre, salario_base) {
        var modal = document.getElementById("modalEditarCargo");
        modal.style.display = "block";
        
        document.getElementById("cargo_id_edit").value = id;
        document.getElementById("nombre_cargo_edit").value = nombre;
        document.getElementById("salario_base_edit").value = salario_base;
      }
      
    </script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="{{ url_for('static', filename='Recources/Js/generales.js') }}"></script>
  </body>
</html>