<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista Cargos | GROUPNOMIMANE</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Recources/Styles/cargos.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Recources/Styles/generales.css') }}"
    />
    <link
      rel="icon"
      href="{{url_for('static', filename='Recources/logo.png')}}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <!--inicio de auto escritura de navegacion -->
      <div class="header-navigation">
        <div class="tabs">
          <a href="{{url_for('index')}}" class="titulo" id="autotype">
            Group| <span class="auto-type"></span>
          </a>
        </div>
      </div>

      <!--fin de auto escritura de navegacion -->

      <!--inicio de usuario de sesion y botones de navegacion -->
      <div class="header-actions">
        <button class="user-profile">
          <span>Derian Serrano</span>
          <span>
            <img src="https://assets.codepen.io/285131/almeria-avatar.jpeg" />
          </span>
        </button>

        <div class="header-actions-buttons">
          <button class="icon-button large">
            <i class="bx bx-search-alt"></i>
          </button>
          <button class="icon-button large">
            <i class="bx bx-bell"></i>
          </button>
          <button class="botonMenu icon-button large">
            <i class="bx bxs-dashboard"></i>
          </button>

          <nav class="principal">
            <div class="header">
              <!-- INPUT SEARCH -->
              <div class="input-search">
                <i class="bx bx-search-alt"></i>
                <input
                  type="text"
                  class="input"
                  placeholder="Buscar"
                  id="search-input"
                />
              </div>
              <!-- MENU -->
              <div class="menu">
                <a href="{{url_for('index')}}" class="enlace-lista">
                  <i class="bx bx-grid-alt"></i>
                  <span>Inicio</span>
                </a>

                <a href="{{url_for('usuarios')}}" class="enlace-lista">
                  <i class="bx bx-user"></i>
                  <span>Perfil</span>
                </a>

                <li class="lista">
                  <a href="#" class="enlace-lista">
                    <i class="bx bx-list-ul"></i>
                    <span>Listados</span>
                    <i class="icon bx bx-chevron-down"></i>
                    <input type="checkbox" class="lista-check" />
                  </a>

                  <div class="lista-content">
                    <ul class="lista-sub">
                      <a href="{{ url_for('trabajadores') }}" class="enlace-li"
                        >Empleados</a
                      >
                      <a href="{{url_for('inactivos')}}" class="enlace-li"
                        >Empleados Inactivos</a
                      >
                      <a
                        href="{{ url_for('listar_departamentos') }}"
                        class="enlace-li"
                        >Departamentos</a
                      >
                      <a
                        href="{{ url_for('departamentos_Inactivos') }}"
                        class="enlace-li"
                        >Departamentos Inactivos</a
                      >
                      <a href="{{ url_for('cargos') }}" class="enlace-li"
                        >Cargos</a
                      >
                    </ul>
                  </div>
                </li>

                <a href="{{ url_for('Horario') }}" class="enlace-lista">
                  <i class="bx bx-wallet"></i>
                  <span>Liquidacion</span>
                </a>

                <li class="lista">
                  <a href="#" class="enlace-lista">
                    <i class="bx bx-file"></i>
                    <span>Reportes</span>
                    <i class="icon bx bx-chevron-down"></i>
                    <input type="checkbox" class="lista-check" />
                  </a>

                  <div class="lista-content">
                    <ul class="lista-sub">
                      <a href="{{ url_for('reportes') }}" class="enlace-li"
                        >Reporte General</a
                      >
                      <a href="#" class="enlace-li">Boletin Pago</a>
                      <a href="#" class="enlace-li">Boletin Nomina</a>
                    </ul>
                  </div>
                </li>

                <a href="#" class="enlace-lista">
                  <i class="bx bx-cog"></i>
                  <span>Configuración</span>
                </a>

                <a
                  href="{{ url_for('logout') }}"
                  class="enlace-lista"
                  onclick="confirmLogout(event)"
                >
                  <i class="bx bx-exit"></i>
                  <span>Salir</span>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <!-- fin inicio de usuario de sesion y botones de navegacion -->
    </header>

    <div class="barra-opciones">
      <div class="contenedor-filtro">
        <div class="btn-filtro" onclick="alternarOpcionesFiltro()">
          <p class="texto-btn">Filtrar</p>
          <div class="flecha-abajo"><i class="bx bx-chevron-down"></i></div>
        </div>

        <div class="opciones-filtro"></div>
      </div>

      <div class="search-container">
        <i class="bx bx-search-alt search-icon"></i>
        <input
          type="text"
          placeholder="Buscar..."
          class="search-input"
          id="search"
        />
      </div>
      <div>
        {% if cargos %}
        <a href="#" id="btnAgregarCargo" class="btn-agregar">
          Nuevo<i class="bx bx-add-to-queue"></i>
        </a>
        {% endif %}
      </div>
    </div>

    <div class="table-container">
      {% if cargos %} {% set departamento_id = cargos[0].Departamento_ID %} {%
      set departamento_encontrado = false %} {% for departamento in
      departamentos %} {% if not departamento_encontrado and departamento.ID ==
      departamento_id %} {% set departamento_encontrado = true %}
      <h1>Lista de Cargos de {{ departamento.Nombre }}</h1>
      {% endif %} {% endfor %} {% endif %}
      <div class="cargo">
        <form method="post" action="/cargos">
          <input class="eleccion" type="submit" value="Mostrar Cargos" />
          <div>
            <label for="departamento"></label>
            <select id="departamento" name="departamento">
              <option value="0">Selecciona un departamento:</option>
              {% for departamento in departamentos %}
              <option value="{{ departamento.ID }}">
                {{ departamento.Nombre }}
              </option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>

      <table class="table" id="employee-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Salario Base</th>
            <th>Nivel de Riesgo</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for cargo in cargos %}
          <tr>
            <td>{{ cargo.ID }}</td>
            <td>{{ cargo.Nombre }}</td>
            <td>{{ cargo.Salario_Base }}</td>
            <td>{{ cargo.Riesgo_LV }}</td>
            <td>{{ cargo.estado }}</td>
            <td>
              <form
                method="post"
                action="/desactivar_cargo"
                style="display: inline-block"
              >
                <input type="hidden" name="cargo_id" value="{{ cargo.ID }}" />
                {% if cargo.estado == 'Activo' %}
                <button type="submit" value="Desactivar" class="desactivar">
                  <i class="bx bx-block"></i>
                </button>
                <!--<input type="submit" value="Desactivar" class="desactivar" />-->
                {% endif %}
              </form>
              {% if cargo.estado == 'Inactivo' %}
              <form
                method="post"
                action="/reactivar_cargo"
                style="display: inline-block"
              >
                <button value="Reactivar" class="activar" type="submit">
                  <i class="bx bx-check-square"></i>
                </button>

                <input type="hidden" name="cargo_id" value="{{ cargo.ID }}" />
                <!--<input type="submit" value="Reactivar" class="reactivar" />-->
              </form>
              {% endif %}
              <button
                type="button"
                class="editar"
                onclick="abrirModalEditar('{{ cargo.ID }}', '{{ cargo.Nombre }}', '{{ cargo.Salario_Base }}', '{{ cargo.Riesgo_LV }}')"
              >
                <i class="bx bx-edit"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="modalAgregarCargo" class="modal">
      <div class="modal-content">
        <span class="close" id="cerrarModal">&times;</span>
        <h1>Añadir Cargo</h1>

        <form
          id="formAgregarCargo"
          method="post"
          action="{{ url_for('agregar_cargos') }}"
        >
          <div class="form-content">
            <div>
              <input
                type="hidden"
                name="Departamento_id"
                id="Departamento_id"
                value="{{ departamento_id }}"
              />
              <label for="nombre_cargo">Nombre del Cargo:</label>
              <input
                class="input-box"
                type="text"
                name="nombre_cargo"
                id="nombre_cargo"
                placeholder="Ejemplo: Nombre"
                required
              />
            </div>
            <div>
              <label for="salario_base">Salario Base:</label>
              <input
                class="input-box"
                type="number"
                name="salario_base"
                id="salario_base"
                placeholder="Ejemplo: 1.000,00"
                required
              />
            </div>
            <div>
              <label for="Riesgo_LV">Nivel de Riesgo:</label>
              <select
                class="input-box"
                name="Riesgo_LV"
                id="Riesgo_LV"
                required
              >
                <option value="I">I</option>
                <option value="II">II</option>
                <option value="III">III</option>
                <option value="IV">IV</option>
                <option value="V">V</option>
              </select>
            </div>
          </div>
          <input class="editar-modal" type="submit" value="Añadir cargo" />
        </form>
      </div>
    </div>

    <div id="modalEditarCargo" class="modal">
      <div class="modal-content">
        <span class="close" id="cerrarModalEditar">&times;</span>
        <h1>Editar Cargo</h1>
        <form
          id="formEditarCargo"
          method="post"
          action="{{ url_for('editar_cargo') }}"
        >
          <div class="form-content">
            <div>
              <input
                type="hidden"
                name="cargo_id_edit"
                id="cargo_id_edit"
                value=""
              />
              <label for="nombre_cargo_edit">Nombre del Cargo:</label>
              <input
                class="input-box"
                type="text"
                name="nombre_cargo_edit"
                id="nombre_cargo_edit"
                required
              />
            </div>
            <div>
              <label for="salario_base_edit">Salario Base:</label>
              <input
                class="input-box"
                type="number"
                name="salario_base_edit"
                id="salario_base_edit"
                required
              />
            </div>
            <div>
              <label for="nivel_riesgo_edit">Nivel de riesgo:</label>
              <select
                class="input-box"
                name="nivel_riesgo_edit"
                id="nivel_riesgo_edit"
                required
              >
                <option value="I">I</option>
                <option value="II">II</option>
                <option value="III">III</option>
                <option value="IV">IV</option>
                <option value="V">V</option>
              </select>
            </div>
          </div>
          <input class="editar-modal" type="submit" value="Guardar Edición" />
        </form>
      </div>
    </div>

    <footer>
      <div class="footer">
        <div>
          GroupNomimane &#169;<br />Copyright 2023. All Rights Reserved.
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="{{ url_for('static', filename='Recources/Js/generales.js') }}"></script>
    <script src="{{ url_for('static', filename='Recources/Js/cargos.js') }}"></script>
    <script>
      function confirmLogout(event) {
        event.preventDefault();

        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: "swal2-confirm",
            cancelButton: "swal2-cancel",
          },
          buttonsStyling: false,
        });

        swalWithBootstrapButtons
          .fire({
            title: "¿Estás seguro?",
            text: "¿Deseas cerrar sesión?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Sí, Cerrar sesión",
            cancelButtonText: "Cancelar",
            reverseButtons: true,
          })
          .then((result) => {
            if (result.isConfirmed) {
              window.location.href = "{{ url_for('logout') }}";
            }
          });
      }
    </script>
  </body>
</html>
