<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Lista Departamentos | GROUPNOMIMANE</title>
    <link
      rel="icon"
      href="{{url_for('static', filename='Recources/logo.png')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Recources/Styles/Estilodepa.css') }}"
    />
  </head>
  <body>
    <nav class="menu-admi" id="nav">
      <!-- Tipo 1 -->
      <div class="header">
        <!-- INPUT SEARCH -->
        <div class="input-search">
          <i class="bx bx-search"></i>
          <input
            type="text"
            class="input"
            placeholder="Buscar"
            id="search-input"
          />
        </div>
        <!-- MENU -->
        <div class="menu">
          <a href="{{url_for('index')}}" class="enlace-lista">
            <i class="bx bx-grid-alt"></i>
            <span>Inicio</span>
          </a>

          <a href="#" class="enlace-lista">
            <i class="bx bx-user"></i>
            <span>Usuarios</span>
          </a>

          <li class="lista">
            <a href="#" class="enlace-lista">
              <i class="bx bx-list-ul"></i>
              <span>Listados</span>
              <i class="icon bx bx-chevron-down"></i>
              <input type="checkbox" class="lista-check" />
            </a>

            <div class="lista-content">
              <ul class="lista-sub">
                <a href="{{ url_for('trabajadores') }}" class="enlace-li"
                  >Empleados</a
                >
                <a href="{{url_for('inactivos')}}" class="enlace-li"
                  >Empleados Inactivos</a
                >
                <a
                  href="{{ url_for('listar_departamentos') }}"
                  class="enlace-li"
                  >Departamentos</a
                >
                <a
                  href="{{ url_for('departamentos_Inactivos') }}"
                  class="enlace-li"
                  >Departamentos Inactivos</a
                >
                <a href="{{ url_for('cargos') }}" class="enlace-li">Cargos</a>
              </ul>
            </div>
          </li>

          <li class="lista">
            <a href="#" class="enlace-lista">
              <i class="bx bx-file"></i>
              <span>Reportes</span>
              <i class="icon bx bx-chevron-down"></i>
              <input type="checkbox" class="lista-check" />
            </a>

            <div class="lista-content">
              <ul class="lista-sub">
                <a href="{{ url_for('reportes') }}" class="enlace-li"
                  >Reporte General</a
                >
                <a href="#" class="enlace-li">Boletin Pago</a>
                <a href="#" class="enlace-li">Boletin Nomina</a>
                <a href="#" class="enlace-li">No se</a>
              </ul>
            </div>
          </li>

          <a href="#" class="enlace-lista">
            <i class="bx bx-cog"></i>
            <span>Configuración</span>
          </a>

          <a
            href="{{ url_for('logout') }}"
            class="enlace-lista"
            onclick="confirmLogout(event)"
          >
            <i class="bx bx-exit"></i>
            <span>Salir</span>
          </a>
        </div>
        <i class="menui bx bx-menu-alt-left" id="menu-admi"></i>
      </div>
    </nav>
    <header class="nav__container">
      <a href="{{url_for('index')}}" class="titulo" id="autotype">
        Group| <span class="auto-type"></span>
      </a>
    </header>

    <div class="buscador">
      <input
        class="buscar"
        type="text"
        placeholder="Buscar departamento"
        id="search"
      />
      <i class="iconi fa-solid fa-magnifying-glass"></i>
    </div>

    <div class="table-container">
      <h1>Lista de Departamentos</h1>
      <table class="table" id="employee-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for departamento in departamentos %}
          <tr>
            <td>{{ departamento.ID }}</td>
            <td>{{ departamento.Nombre }}</td>
            <td>10/20/25</td>
            <td>
              <a
                href="{{ url_for('Editar_departamento', id_departamento=departamento.ID) }}"
                class="editar"
              >
                <i class="fas fa-user-edit"></i>
              </a>
              <a
                href="{{ url_for('desactivar_departamento', id_departamento=departamento.ID) }}"
                class="desactivar"
                onclick="confirmDesactivar(event)"
              >
                <i class="fas fa-ban"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <a href="{{ url_for('agregar_departamento') }}" class="floating-button">
      <i class="fa-solid fa-folder-plus"></i>
    </a>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="{{ url_for('static', filename='Recources/Js/generales.js') }}"></script>
  </body>
</html>
