<!DOCTYPE html>
<html>
  <head>
    <title>Liquidación | GROUPNOMIMANE</title>
    <link
      rel="icon"
      href="{{url_for('static', filename='Recources/logo.png')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Recources/Styles/Estilohor.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h3>Proceso De Liquidación</h3>
      </header>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-register">
            <form class="formulario" method="POST">
              <div class="form-group">
                <label>Horas Diurnas:</label>
                <input
                  class="controls"
                  placeholder="Horas Diurnas"
                  type="number"
                  autocomplete="off"
                  name="horas_diurnas"
                /><br />
              </div>
              <div class="form-group">
                <label>Horas Extra Diurnas:</label>
                <input
                  class="controls"
                  placeholder="Horas Extra Diurnas"
                  type="number"
                  autocomplete="off"
                  name="horas_extra_diurnas"
                /><br />
              </div>
              <div class="form-group">
                <label>Horas Nocturnas:</label>
                <input
                  class="controls"
                  placeholder="Horas Nocturnas"
                  type="number"
                  autocomplete="off"
                  name="horas_nocturnas"
                /><br />
              </div>
              <div class="form-group">
                <label>Horas Extra Nocturnas:</label>
                <input
                  class="controls"
                  placeholder="Horas Extra Nocturnas"
                  type="number"
                  autocomplete="off"
                  name="horas_extra_nocturnas"
                /><br />
              </div>
              <div class="form-group">
                <label>Horas Dominicales:</label>
                <input
                  class="controls"
                  placeholder="Horas Dominicales"
                  type="number"
                  autocomplete="off"
                  name="horas_dominicales"
                /><br />
              </div>
              <div class="form-group">
                <label>Horas Extra Dominicales:</label>
                <input
                  class="controls"
                  placeholder="Horas Extra Dominicales"
                  type="tenumberxt"
                  autocomplete="off"
                  name="horas_extra_dominicales"
                /><br />
              </div>
              <div class="form-group">
                <label>Horas Extra Dominicales Nocturnas:</label>
                <input
                  class="controls"
                  placeholder="Horas Extra Dominicales Nocturnas"
                  type="number"
                  autocomplete="off"
                  name="horas_extra_dom_nocturnas"
                /><br />
              </div>
              <div class="form-group">
                <label for="tipo_liquidacion">Tipo De Liquidación:</label>
                <select class="controls" name="tipo_liquidacion" required>
                  <option value="mensual">Mensual</option>
                  <option value="quincenal">Quincenal</option>
                </select>
              </div>
              <br />
              <div class="form-group empleado">
                <label for="empleado_nombre_apellido">Empleado:</label>
                <p id="empleado_nombre_apellido">
                  {% if empleado_id %} {% for empleado in empleados %} {% if
                  empleado.ID == empleado_id %} {{ empleado.Nombres }} {{
                  empleado.Apellido_Paterno }} {% endif %} {% endfor %} {% endif
                  %}
                </p>
                <p id="empleado_nombre_apellido">En caso de dejar espacios en blanco se rellenarán con 0.</p>
                <input
                  type="hidden"
                  name="empleado_id"
                  value="{{ empleado_id }}"
                  required
                />
                <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
              </div>
              <button type="submit" class="botons">
                <lord-icon
                  src="https://cdn.lordicon.com/xxwwxrom.json"
                  trigger="morph"
                  colors="primary:#545454"
                  state="morph-cash-card-1"
                  style="width: 50px; height: 50px"
                >
                </lord-icon>
              </button>
              <br />
              <div class="bnt-liqui"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
