<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lista Inactivos | GROUPNOMIMANE</title>
    <link
      rel="icon"
      href="{{url_for('static', filename='Recources/logo.png')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Recources/Styles/Estiloinac.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="menu-admi" id="nav">
      <!-- Tipo 1 -->
      <div class="header">
        <!-- INPUT SEARCH -->
        <div class="input-search">
          <i class="bx bx-search"></i>
          <input
            type="text"
            class="input"
            placeholder="Buscar"
            id="search-input"
          />
        </div>
        <!-- MENU -->
        <div class="menu">
          <a href="{{url_for('index')}}" class="enlace-lista">
            <i class="bx bx-grid-alt"></i>
            <span>Inicio</span>
          </a>

          <a href="#" class="enlace-lista">
            <i class="bx bx-user"></i>
            <span>Usuarios</span>
          </a>

          <li class="lista">
            <a href="#" class="enlace-lista">
              <i class="bx bx-list-ul"></i>
              <span>Listados</span>
              <i class="icon bx bx-chevron-down"></i>
              <input type="checkbox" class="lista-check" />
            </a>

            <div class="lista-content">
              <ul class="lista-sub">
                <a href="{{ url_for('trabajadores') }}" class="enlace-li"
                  >Empleados</a
                >
                <a href="{{url_for('inactivos')}}" class="enlace-li"
                  >Empleados Inactivos</a
                >
                <a
                  href="{{ url_for('listar_departamentos') }}"
                  class="enlace-li"
                  >Departamentos</a
                >
                <a
                  href="{{ url_for('departamentos_Inactivos') }}"
                  class="enlace-li"
                  >Departamentos Inactivos</a
                >
                <a href="{{ url_for('cargos') }}" class="enlace-li">Cargos</a>
              </ul>
            </div>
          </li>

          <li class="lista">
            <a href="#" class="enlace-lista">
              <i class="bx bx-file"></i>
              <span>Reportes</span>
              <i class="icon bx bx-chevron-down"></i>
              <input type="checkbox" class="lista-check" />
            </a>

            <div class="lista-content">
              <ul class="lista-sub">
                <a href="{{ url_for('reportes') }}" class="enlace-li"
                  >Reporte General</a
                >
                <a href="#" class="enlace-li">Boletin Pago</a>
                <a href="#" class="enlace-li">Boletin Nomina</a>
                <a href="#" class="enlace-li">No se</a>
              </ul>
            </div>
          </li>

          <a href="#" class="enlace-lista">
            <i class="bx bx-cog"></i>
            <span>Configuración</span>
          </a>

          <a
            href="{{ url_for('logout') }}"
            class="enlace-lista"
            onclick="confirmLogout(event)"
          >
            <i class="bx bx-exit"></i>
            <span>Salir</span>
          </a>
        </div>
        <i class="menui bx bx-menu-alt-left" id="menu-admi"></i>
      </div>
    </nav>
    <header class="nav__container">
      <a href="{{url_for('index')}}" class="titulo" id="autotype">
        Group| <span class="auto-type"></span>
      </a>
    </header>

    <div class="buscador">
      <input
        class="buscar"
        type="text"
        placeholder="Buscar empleado"
        id="search"
      />
      <i class="iconi fa-solid fa-magnifying-glass"></i>
    </div>

    <div class="table-container">
      <h1>Lista De Empleados Inactivos</h1>
      <table class="table" id="employee-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Edad</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for empleado in empleados_inactivos %}
          <tr>
            <td>{{ empleado['ID'] }}</td>
            <td>{{ empleado['Nombres'] }}</td>
            <td>{{ empleado['Apellido_Paterno'] }}</td>
            <td>{{ empleado['Apellido_Materno'] }}</td>
            <td>{{ empleado['Edad'] }}</td>
            <td>{{ empleado['Telefono'] }}</td>
            <td>{{ empleado['Email'] }}</td>
            <td style="text-align: center">
              <a
                href="{{ url_for('reactivar_empleado', id=empleado['ID']) }}"
                class="activar"
                onclick="confirmActivar(event)"
                ><i class="fas fa-check"></i
              ></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- SweetAlert JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
  {% for empleado in empleados_inactivos %}
  <script>
    function confirmActivar(event) {
      event.preventDefault(); // Prevenir la navegación por defecto del enlace

      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "swal2-confirm",
          cancelButton: "swal2-cancel",
        },
        buttonsStyling: false,
      });

      swalWithBootstrapButtons
        .fire({
          title: "¿Estás seguro?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Sí, Activarlo",
          cancelButtonText: "No, Cancelar",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            swalWithBootstrapButtons.fire(
              "Activado!",
              "Su empleado ha sido reactivado.",
              "success"
            );
            setTimeout(function () {
              window.location.href =
                "{{ url_for('reactivar_empleado', id=empleado['ID']) }}";
            }, 1200); // Espera 1.5 segundos antes de redirigir
          } else if (result.dismiss === Swal.DismissReason.cancel) {
            swalWithBootstrapButtons.fire(
              "Cancelado",
              "Parece que fue un error :)",
              "error"
            );
          }
        });
    }
  </script>
  {% endfor %}

  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="{{ url_for('static', filename='Recources/Js/generales.js') }}"></script>
</html>
