<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Inicio | GROUPNOMIMANE</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Recources/Styles/Estilo.css') }}"
    />
    <link
      rel="icon"
      href="{{url_for('static', filename='Recources/logo.png')}}"
    />
  </head>

  <body>
    <nav class="menu-admi" id="nav">
      <!-- Tipo 1 -->
      <div class="header">
        <!-- INPUT SEARCH -->
        <div class="input-search">
          <i class="bx bx-search"></i>
          <input
            type="text"
            class="input"
            placeholder="Buscar"
            id="search-input"
          />
        </div>
        <!-- MENU -->
        <div class="menu">
          <a href="{{url_for('index')}}" class="enlace-lista">
            <i class="bx bx-grid-alt"></i>
            <span>Inicio</span>
          </a>

          <a href="#" class="enlace-lista">
            <i class="bx bx-user"></i>
            <span>Usuarios</span>
          </a>

          <li class="lista">
            <a href="#" class="enlace-lista">
              <i class="bx bx-list-ul"></i>
              <span>Listados</span>
              <i class="icon bx bx-chevron-down"></i>
              <input type="checkbox" class="lista-check" />
            </a>

            <div class="lista-content">
              <ul class="lista-sub">
                <a href="{{ url_for('trabajadores') }}" class="enlace-li"
                  >Empleados</a
                >
                <a href="{{url_for('inactivos')}}" class="enlace-li"
                  >Empleados Inactivos</a
                >
                <a
                  href="{{ url_for('listar_departamentos') }}"
                  class="enlace-li"
                  >Departamentos</a
                >
                <a
                  href="{{ url_for('departamentos_Inactivos') }}"
                  class="enlace-li"
                  >Departamentos Inactivos</a
                >
                <a href="{{ url_for('cargos') }}" class="enlace-li">Cargos</a>
              </ul>
            </div>
          </li>

          <li class="lista">
            <a href="#" class="enlace-lista">
              <i class="bx bx-file"></i>
              <span>Reportes</span>
              <i class="icon bx bx-chevron-down"></i>
              <input type="checkbox" class="lista-check" />
            </a>

            <div class="lista-content">
              <ul class="lista-sub">
                <a href="{{ url_for('reportes') }}" class="enlace-li"
                  >Reporte General</a
                >
                <a href="#" class="enlace-li">Boletin Pago</a>
                <a href="#" class="enlace-li">Boletin Nomina</a>
                <a href="#" class="enlace-li">No se</a>
              </ul>
            </div>
          </li>

          <a href="#" class="enlace-lista">
            <i class="bx bx-cog"></i>
            <span>Configuración</span>
          </a>

          <a
            href="{{ url_for('logout') }}"
            class="enlace-lista"
            onclick="confirmLogout(event)"
          >
            <i class="bx bx-exit"></i>
            <span>Salir</span>
          </a>
        </div>
        <i class="menui bx bx-menu-alt-left" id="menu-admi"></i>
      </div>
    </nav>
    <header class="nav__container">
      <a href="#menu" class="titulo" id="autotype">
        Group| <span class="auto-type"></span>
      </a>
    </header>

    <!-- Modal de Bienvenida -->
    <div id="modal-bienvenida" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <img
            src="{{ url_for('static', filename='Recources/Img8.png') }}"
            alt="Icono de bienvenida"
            class="modal-icon"
          />
          <h2>Bienvenido, Administrador</h2>
        </div>
        <p>¡Gracias por utilizar nuestro sistema de administración!</p>
        <button id="cerrar-modal">Cerrar</button>
      </div>
    </div>

    <div class="content">
      <main>
        <ul class="insights">
          <li>
            <i class="bx bx-calendar-check"></i>
            <span class="info">
              <h3>1,074</h3>
              <p>N° Ordenes</p>
            </span>
          </li>
          <li>
            <i class="bx bx-show-alt"></i>
            <span class="info">
              <h3>3,944</h3>
              <p>Visita al sitio</p>
            </span>
          </li>
          <li>
            <i class="bx bx-line-chart"></i>
            <span class="info">
              <h3>14,721</h3>
              <p>Búsquedas</p>
            </span>
          </li>
          <li>
            <i class="bx bx-dollar-circle"></i>
            <span class="info">
              <h3>$6,742</h3>
              <p>Nominas Pagadas</p>
            </span>
          </li>
        </ul>
        <!-- End of Insights -->

        <div class="bottom-data">
          <div class="orders">
            <div class="header">
              <i class="bx bx-receipt"></i>
              <h3>Ingresos Recientes</h3>
              <i class="bx bx-filter"></i>
              <i class="bx bx-search"></i>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Usuario</th>
                  <th>Fecha Registrada</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img
                      src="{{ url_for('static', filename='Recources/DERIAN.jpeg') }}"
                    />
                    <p>Derian Serrano</p>
                  </td>
                  <td>10-10-2023</td>
                  <td><span class="status completed">Completado</span></td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="{{ url_for('static', filename='Recources/WILLIAM.jpeg') }}"
                    />
                    <p>Esteban</p>
                  </td>
                  <td>09-10-2023</td>
                  <td><span class="status pending">Pendiente</span></td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="{{ url_for('static', filename='Recources/DANIEL.jpeg') }}"
                    />
                    <p>Mari Rosa</p>
                  </td>
                  <td>05-09-2023</td>
                  <td><span class="status process">Procesando</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </body>
  <script>
    /*Alerta para salir de inicio de sesion*/
    function confirmLogout(event) {
      event.preventDefault();

      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "swal2-confirm",
          cancelButton: "swal2-cancel",
        },
        buttonsStyling: false,
      });

      swalWithBootstrapButtons
        .fire({
          title: "¿Estás seguro?",
          text: "¿Deseas cerrar sesión?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Sí, Cerrar sesión",
          cancelButtonText: "Cancelar",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            window.location.href = "{{ url_for('logout') }}";
          }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
      // Mostrar el modal de bienvenida al cargar la página
      const modalBienvenida = document.getElementById("modal-bienvenida");
      modalBienvenida.style.display = "block";

      // Ocultar el modal al hacer clic en el botón "Cerrar"
      const cerrarModalBtn = document.getElementById("cerrar-modal");
      cerrarModalBtn.addEventListener("click", function () {
        modalBienvenida.style.display = "none";
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="{{ url_for('static', filename='Recources/Js/generales.js') }}"></script>
</html>
