<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GroupNomimane | SENA</title>
    <link
      rel="icon"
      href="{{url_for('static', filename='Recources/logo.png')}}"
    />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Recources/Styles/layout.css') }}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <h3>G|Nomimane</h3>
      <a href="">Inicio</a>
      <a href="#explora">Explorar</a>
      <a href="#nosotros">Acerca de</a>
      <a href="#contact-form">Contáctenos</a>
      <a id="buscar" class="link" href="#"
        >Buscar<span><i class="bx bx-chevron-down"></i></span
      ></a>
      <div id="buscar-content">
        <form>
          <div class="input-correo">
            <input
              class="search"
              id="search-query"
              type="text"
              placeholder="Buscar..."
              required
            />
            <button type="submit" id="search-submit">
              <i class="bx bx-search-alt"></i>
            </button>
          </div>
        </form>
      </div>
      <a href="{{ url_for('login') }}" class="login">Acceso</a>
    </nav>
    <div class="container-top">
      <div class="content">
        <div class="text-content">
          <h1 class="sub-title">Somos <span class="auto-type"></span></h1>
          <p>Bienvenido a nuestro sitio web. 👋🏼</p>
        </div>
      </div>
    </div>
    <div class="container-barra">
      <div>
        <i class='bx bx-group'></i>
        <div>
          <h4>Comunidad</h4>
        </div>
      </div>
      <div>
        <i class="bx bx-qr"></i>
        <div>
          <h4>Accesibilidad</h4>
        </div>
      </div>
      <div>
        <i class="bx bx-chat"></i>
        <div>
          <h4>Comunicacion</h4>
        </div>
      </div>
      <div>
        <i class="bx bx-notepad"></i>
        <div>
          <h4>Eventos</h4>
        </div>
      </div>
      <div>
        <i class="bx bx-search-alt"></i>
        <div>
          <h4>Busquedas</h4>
        </div>
      </div>
    </div>

    <div class="servicios-section">
      <h1>Lo que ofrecemos</h1>
      <p>Diseñamos servicios que superan expectativas.</p>
      <div class="card-content">
        <div class="card">
          <i class="bx bx-wallet"></i>
          <h2>Cartera</h2>
          <p>Todo en un solo lugar</p>
        </div>
        <div class="card">
          <i class="bx bx-data"></i>
          <h2>Base Datos</h2>
          <p>Archivos seguros</p>
        </div>
        <div class="card">
          <i class="bx bx-credit-card"></i>
          <h2>Facturacion</h2>
          <p>Haz tus transacciones seguras</p>
        </div>
        <div class="card">
          <i class="bx bx-receipt"></i>
          <h2>Administracion</h2>
          <p>Todos tus documentos digitales</p>
        </div>
      </div>
      <div class="info-line"></div>
    </div>

    <div class="detalles-servicios" id="explora">
      <div class="tex-content">
        <p>Explora</p>
        <h1>Adiós al papeleo, hola a las nóminas digitales</h1>
        <p>
          Nuestra plataforma de nóminas digitales proporciona un sistema
          integral que abarca desde la captura de datos hasta la generación de
          informes, todo en línea y sin la carga de documentos en papel.
        </p>
        <div class="botones">
          <a href="">Premium</a>
          <a href="">Standart</a>
        </div>
      </div>
    </div>

    <div class="experiencia-section">
      <div class="img-content" data-aos="fade-up">
        <img
          src="{{url_for('static', filename='Recources/Img/Img3.png')}}"
          alt="Picture"
          class="img"
        />
      </div>
      <div class="detalles">
        <div class="containers">
          <div class="container-detalles" data-aos="fade-up">
            <i class="bx bxs-medal icon" alt="Education icon"></i>
            <h3>Experience</h3>
            <p>2+ Años <br />Brindando Efectividad</p>
          </div>
          <div class="container-detalles" data-aos="fade-up">
            <i class="bx bxs-graduation icon" alt="Education icon"></i>
            <h3>Education</h3>
            <p>
              SENA. Industrial Y Aviacion <br />
              Youtube
            </p>
          </div>
        </div>
        <div class="text-container">
          <p>
            Nuestro objetivo es brindarte una experiencia sin complicaciones al
            gestionar y procesar nóminas, permitiéndote ahorrar tiempo y
            recursos para que puedas enfocarte en lo que realmente importa:
            hacer crecer tu negocio.
          </p>
        </div>
      </div>
    </div>

    <div class="ubicacion-section">
      <iframe
        data-aos="fade-up"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.2742702293144!2d-74.785787625825!3d10.942642556107614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef5d390bce185a1%3A0x7b668739ec70f4b4!2sSENA%20CENTRO%20INDUSTRIAL%20Y%20DE%20AVIACION!5e0!3m2!1ses-419!2sco!4v1696425901242!5m2!1ses-419!2sco"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div class="contect-ubicacion">
        <p>Te puede interesar</p>
        <h1>Simplifica, agiliza, digitaliza: así gestionamos nóminas</h1>
        <p>
          En GroupNomimane, combinamos innovación y compromiso para ofrecer
          soluciones excepcionales. Somos más que una empresa; somos un equipo
          comprometido con la excelencia en cada servicio que brindamos.
        </p>
        <div class="detalles">
          <div class="info">
            <h2>122+</h2>
            <p>Contratos</p>
          </div>
          <div class="info">
            <h2>168+</h2>
            <p>Nominas</p>
          </div>
          <div class="info">
            <h2>93+</h2>
            <p>Clientes satisfechos</p>
          </div>
        </div>
      </div>
    </div>

    <div class="herramientas-container" id="nosotros">
      <p>Nuestros implementos</p>
      <h1>Herramientas De Desarrollo</h1>
      <div class="article-container">
        <article>
          <img
            class="icon"
            src="{{url_for('static', filename='Recources/Img/html-5.png')}}"
            alt=""
          />
          <div data-aos="zoom-out-right">
            <h3>HTML</h3>
            <p>Experienced</p>
          </div>
        </article>
        <article>
          <img
            class="icon"
            src="{{url_for('static', filename='Recources/Img/css-3.png')}}"
            alt=""
          />
          <div data-aos="zoom-in">
            <h3>CSS</h3>
            <p>Experienced</p>
          </div>
        </article>
        <article>
          <img
            class="icon"
            src="{{url_for('static', filename='Recources/Img/dato.png')}}"
            alt=""
          />
          <div data-aos="zoom-in">
            <h3>Mysql</h3>
            <p>Intermediate</p>
          </div>
        </article>
        <article>
          <img
            class="icon"
            src="{{url_for('static', filename='Recources/Img/js.png')}}"
            alt=""
          />
          <div data-aos="zoom-in">
            <h3>JavaScript</h3>
            <p>Basic</p>
          </div>
        </article>
        <article>
          <i class="bx bx-check-shield icon"></i>
          <div data-aos="zoom-out-left">
            <h3>TypeScript</h3>
            <p>Basic</p>
          </div>
        </article>
        <article>
          <img
            class="icon"
            src="{{url_for('static', filename='Recources/Img/piton.png')}}"
            alt=""
          />
          <div data-aos="zoom-out-right">
            <h3>Python</h3>
            <p>Intermediate</p>
          </div>
        </article>
      </div>
    </div>

    <div class="fundadores-section">
      <div class="info-line"></div>
      <div class="titulo">
        <p>Mira quienes somos...</p>
        <h1>
          Por ellos <br />
          GroupNomimane es posible<i class="bx bx-group"></i>
        </h1>
      </div>

      <div class="integrantes">
        <!-- Tarjeta pardo-->
        <article>
          <div class="thumb"></div>
          <div class="infos">
            <h2 class="title">
              ING. PARDO<span class="flag"></span><span class="flag1"></span>
            </h2>
            <p class="date">Desarrollador De Niños</p>
            <p class="seats">Última actualización: 3min</p>
            <p class="txt">
              Únase a nosotros para nuestra comunidad Groupcompany en la hermosa
              ciudad de Barranquilla....
            </p>
            <div class="bottom">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <i class="bx bxl-facebook"></i>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <i class="bx bxl-twitter"></i>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <i class="bx bxl-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </article>
        <!-- Fin Tarjeta pardo-->

        <!-- Tarjeta Esteban-->
        <article>
          <div class="thumb"></div>
          <div class="infos">
            <h2 class="title">
              ING. ESTEBAN<span class="flag"></span><span class="flag1"></span>
            </h2>
            <p class="date">Desarrollador Software</p>
            <p class="seats">Última actualización: 2seg</p>
            <p class="txt">
              Únase a nosotros para nuestra comunidad Groupcompany en la hermosa
              ciudad de Barranquilla....
            </p>
            <div class="bottom">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <i class="bx bxl-facebook"></i>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <i class="bx bxl-twitter"></i>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <i class="bx bxl-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </article>
        <!-- Fin tarjeta Esteban-->

        <!-- Tarjeta Derian-->
        <article>
          <div class="thumb"></div>
          <div class="infos">
            <h2 class="title">
              ING. DERIAN<span class="flag"></span><span class="flag1"></span>
            </h2>
            <p class="date">Desarrollador Web</p>
            <p class="seats">Última actualización: 1min</p>
            <p class="txt">
              Únase a nosotros para nuestra comunidad Groupcompany en la hermosa
              ciudad de Barranquilla....
            </p>
            <div class="bottom">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <i class="bx bxl-facebook"></i>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <i class="bx bxl-twitter"></i>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <i class="bx bxl-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </article>
        <!-- Fin tarjeta Derian-->

        <!-- Tarjeta Daniel-->
        <article>
          <div class="thumb"></div>
          <div class="infos">
            <h2 class="title">
              ING. DANIEL<span class="flag"></span><span class="flag1"></span>
            </h2>
            <p class="date">Gerente Produccions</p>
            <p class="seats">Última actualización: 30dias</p>
            <p class="txt">
              Únase a nosotros para nuestra comunidad Groupcompany en la hermosa
              ciudad de Barranquilla....
            </p>
            <div class="bottom">
              <ul class="social-list">
                <li class="social-item">
                  <a href="#" class="social-link">
                    <i class="bx bxl-facebook"></i>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <i class="bx bxl-twitter"></i>
                  </a>
                </li>
                <li class="social-item">
                  <a href="#" class="social-link">
                    <i class="bx bxl-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </article>
        <!-- Fin tarjeta Daniel-->
      </div>
    </div>

    <div class="testimonios-section">
      <div class="contenido">
        <div class="texto">
          <p>Esto se dice...</p>
          <h1>
            Lo que opinan nuestros clientes<i
              class="bx bxs-message-square-dots"
            ></i>
          </h1>
        </div>
      </div>
      <div class="grid-gallery">
        <div class="grid-item">
          <a href="#" data-lightbox="gridImage">
            <img
              src="{{url_for('static', filename='Recources/Testimonios/T-1.jpg')}}"
            />
          </a>
          <div class="overlay">
            <div class="overlay-content">"¡Gracias!"</div>
          </div>
        </div>
        <div class="grid-item">
          <a href="#" data-lightbox="gridImage">
            <img
              src="{{url_for('static', filename='Recources/Testimonios/T-2.jpg')}}"
            />
          </a>
          <div class="overlay">
            <div class="overlay-content">
              "Eficiente y organizado, ¡gracias!"
            </div>
          </div>
        </div>
        <div class="grid-item">
          <a href="#" data-lightbox="gridImage">
            <img
              src="{{url_for('static', filename='Recources/Testimonios/T-3.jpg')}}"
            />
          </a>
          <div class="overlay">
            <div class="overlay-content">
              "Nóminas digitales que cumplen y superan expectativas."
            </div>
          </div>
        </div>
        <div class="grid-item">
          <a href="#" data-lightbox="gridImage">
            <img
              src="{{url_for('static', filename='Recources/Testimonios/T-4.jpg')}}"
            />
          </a>
          <div class="overlay">
            <div class="overlay-content">"Fácil de entender"</div>
          </div>
        </div>
        <div class="grid-item">
          <a href="#" data-lightbox="gridImage">
            <img
              src="{{url_for('static', filename='Recources/Testimonios/T-5.jpg')}}"
            />
          </a>
          <div class="overlay">
            <div class="overlay-content">"Pensando en cada detalle."</div>
          </div>
        </div>
        <div class="grid-item">
          <a href="#" data-lightbox="gridImage">
            <img
              src="{{url_for('static', filename='Recources/Testimonios/T-6.jpg')}}"
            />
          </a>
          <div class="overlay">
            <div class="overlay-content">
              "¡Increíble servicio! Simplificaron completamente nuestro proceso
              de nómina."
            </div>
          </div>
        </div>
        <div class="grid-item">
          <a href="#" data-lightbox="gridImage">
            <img
              src="{{url_for('static', filename='Recources/Testimonios/T-7.jpg')}}"
            />
          </a>
          <div class="overlay">
            <div class="overlay-content">"¡Excelente trabajo"</div>
          </div>
        </div>
        <div class="grid-item">
          <a href="#" data-lightbox="gridImage">
            <img
              src="{{url_for('static', filename='Recources/Testimonios/T-8.jpg')}}"
            />
          </a>
          <div class="overlay">
            <div class="overlay-content">
              "Satisfechos con la rapidez y la calidad."
            </div>
          </div>
        </div>
        <div class="grid-item">
          <a href="#" data-lightbox="gridImage">
            <img
              src="{{url_for('static', filename='Recources/Testimonios/T-9.jpg')}}"
            />
          </a>
          <div class="overlay">
            <div class="overlay-content">
              "Hicieron que la nómina fuera tan simple como debería ser."
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="compañias-aliadas">
      <p>Colaboración que impulsa el progreso</p>
      <h2>
        Creemos en el poder de las alianzas estratégicas, donde nuestras
        fortalezas se multiplican y nuestras metas comunes se vuelven
        alcanzables
      </h2>
      <div class="wrapper">
        <div class="card">
          <div class="info">
            <h1>Deloitte</h1>
            <p>Londres, Reino Unido</p>
            <a href="https://www2.deloitte.com/co/es.html" class="btn"
              >Leer mas</a
            >
          </div>
        </div>
        <div class="card">
          <div class="info">
            <h1>KPMG</h1>
            <p>Barranquilla, Colombia</p>
            <a href="https://kpmg.com/co/es/home.html" class="btn">Leer mas</a>
          </div>
        </div>
        <div class="card">
          <div class="info">
            <h1>Globant</h1>
            <p>Buenos Aires, Argentina</p>
            <a href="https://www.globant.com/es" class="btn">Leer mas</a>
          </div>
        </div>
        <div class="card">
          <div class="info">
            <h1>Bakertilly</h1>
            <p>Barranquilla, Colombia</p>
            <a href="https://bakertilly.co/" class="btn">Leer mas</a>
          </div>
        </div>
      </div>
    </div>

    <div class="contacto" id="contact-form">
      <div class="content">
        <div class="text-content">
          <h1>
            En GroupNomimane, explora nuevas oportunidades y descubre cómo
            podemos colaborar
          </h1>
          <p>Tu próximo paso está a solo un correo electrónico de distancia</p>
          <form id="myForm">
            <div class="input-box">
              <input
                type="email"
                id="emailInput"
                placeholder="Ingresa tu correo electrónico"
                required
              />
              <button type="submit">
                <i class="bx bx-envelope"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p>¿Tienes algo que decirnos?</p>
        <h1 class="form-title">Formulario De Contacto</h1>

        <form action="#" class="form" data-form>
          <div class="input-wrapper" data-aos="fade-up">
            <input
              type="text"
              class="form-input"
              placeholder="Nombre"
              required
              data-form-input
            />

            <input
              type="text"
              class="form-input"
              placeholder="Ciudad - Pais"
              required
              data-form-input
            />
          </div>

          <textarea
            data-aos="fade-up"
            name="message"
            class="form-input"
            placeholder="Mensaje"
            required
            data-form-input
          ></textarea>

          <button class="form-btn" type="submit">
            <i class="bx bx-checkbox-checked"></i>
          </button>
        </form>
      </div>
    </div>

    <footer>
      <div class="footer-content">
        <div class="mensaje-final">
          <h2>Gracias por Visitar Nuestra Página</h2>
          <p>
            Este es solo el comienzo de una fascinante travesía. Te invitamos a
            explorar más sobre nuestros servicios. ¡Empieza tu viaje ahora!
            <a href="#contact-form">Explora más</a>.
          </p>
        </div>
        <div class="column-info">
          <div class="footer-info">
            <h4>Contacto</h4>
            <p>Dirección: Calle Ejemplo, Ciudad, País</p>
            <p>Email: info@example.com</p>
            <p>Teléfono: +123 456 789</p>
          </div>
          <div class="footer-info">
            <h4>Compañia</h4>
            <p>About us</p>
            <p>Contact</p>
            <p>Carear</p>
          </div>
          <div class="footer-info">
            <h4>Support</h4>
            <p>FAQ</p>
            <p>Help</p>
            <p>Privacy Policy</p>
          </div>
          <div class="footer-social">
            <h4>Síguenos</h4>
            <a href="#" class="social-icon"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="social-icon"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="social-icon"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="social-icon"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-line"></div>
      <p class="derechos">
        Copyright &#169; 2023 GroupNomimane. All Rights Reserved.
      </p>
    </footer>

    <!-- Botón flotante para ir hacia arriba -->
    <div id="scroll-to-top" class="scroll-to-top">
      <i class="bx bx-chevron-up"></i>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1500, // Cambia este valor según tus preferencias
      });

      $(document).ready(function () {
        $("#buscar").click(function () {
          $(this).next("#buscar-content").slideToggle();
          $(this).toggleClass("active");

          if ($(this).hasClass("active")) {
            $(this).find("i").css("transform", "rotate(180deg)");
          } else {
            $(this).find("i").css("transform", "rotate(0deg)");
          }
        });
      });

      var typed = new Typed(".auto-type", {
        strings: [
          "Competitividad",
          "Pasión",
          "Calidad",
          "Trabajo en equipo",
          "Líderes del futuro",
          "Un grupo",
          "GroupNomimane",
        ],
        typeSpeed: 100,
        backSpeed: 90,
        looped: true,
      });

      document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
        anchor.addEventListener("click", function (e) {
          e.preventDefault();
          const targetId = this.getAttribute("href").substring(1);
          const targetElement = document.getElementById(targetId);
          if (targetElement) {
            window.scrollTo({
              top: targetElement.offsetTop,
              behavior: "smooth",
            });
          }
        });
      });

      // Obtén el formulario y el modal
      const form = document.getElementById("myForm");
      const modal = document.getElementById("myModal");

      // Agrega un evento de escucha para el envío del formulario
      form.addEventListener("submit", function (event) {
        event.preventDefault(); // Evita que se envíe el formulario de la manera predeterminada

        // Aquí puedes agregar lógica adicional antes de mostrar el modal si es necesario

        showModal();
      });

      // Función para mostrar el modal
      function showModal() {
        modal.style.display = "block";
      }

      // Función para cerrar el modal
      function closeModal() {
        modal.style.display = "none";
      }

      // Cierra el modal si el usuario hace clic fuera de él
      window.onclick = function (event) {
        if (event.target === modal) {
          closeModal();
        }
      };

      //BOTON FLOTANTE
      document.addEventListener("DOMContentLoaded", function () {
        var scrollToTopButton = document.getElementById("scroll-to-top");

        // Mostrar u ocultar el botón flotante en función del desplazamiento
        window.addEventListener("scroll", function () {
          if (window.scrollY > 300) {
            scrollToTopButton.style.display = "block";
          } else {
            scrollToTopButton.style.display = "none";
          }
        });

        scrollToTopButton.addEventListener("click", function () {
          window.scrollTo({
            top: 0,
            behavior: "smooth",
          });
        });
      });
    </script>
  </body>
</html>
