<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liquidación Pago | GROUPNOMIMANE</title>
    <link
      rel="icon"
      href="{{url_for('static', filename='Recources/logo.png')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Recources/Styles/liquidacion.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="container-agregar">
        <h3 class="tab-title">
          GroupNomimane| <span class="auto-type"></span>
        </h3>

        <div class="content-box">
          <div class="content">
            <p class="auto-type">
              El empleado {{ empleado_nombre_completo }} con Número de
              identificación {{ format_number(empleado_Identificacion) }}
              recibirá el pago total de {{ format_number(neto_pagado) }}
            </p>
            <h3 class="title-detalles">Detalles:</h3>
            <ul class="aligned-list">
              <li class="left">
                Horas Extra Total:
                <span class="right"
                  >{{ format_number(horas_extra_total) }}</span
                >
              </li>
              <li class="left">
                Salud: <span class="right">{{ format_number(salud) }}</span>
              </li>
              <li class="left">
                Pensión:
                <span class="right">{{ format_number(pension) }}</span>
              </li>
              <li class="left">
                Total Devengado:
                <span class="right">{{ format_number(total_devengado) }}</span>
              </li>
              <li class="left">
                Total Deducido:
                <span class="right">{{ format_number(total_deducido) }}</span>
              </li>
              <li class="left">
                Fecha de inicio:
                <span class="right"> {{ fecha_inicio }}</span>
              </li>
            </ul>
          </div>
        </div>
        <form
          action="{{ url_for('realizar_pago') }}"
          method="post"
          id="pago-form"
        >
          <div>
            <input type="hidden" name="empleado_id" value="{{ empleado_id }}" />
            <input
              type="hidden"
              name="horas_extra_total"
              value="{{ horas_extra_total }}"
            />
            <input type="hidden" name="salud" value="{{ salud }}" />
            <input type="hidden" name="pension" value="{{ pension }}" />
            <input
              type="hidden"
              name="horas_diurnas_total"
              value="{{ horas_diurnas_total }}"
            />
            <input
              type="hidden"
              name="horas_extra_diurnas_total"
              value="{{ horas_extra_diurnas_total }}"
            />
            <input
              type="hidden"
              name="horas_nocturnas_total"
              value="{{ horas_nocturnas_total }}"
            />
            <input
              type="hidden"
              name="horas_extra_nocturnas_total"
              value="{{ horas_extra_nocturnas_total }}"
            />
            <input
              type="hidden"
              name="horas_dominicales_total"
              value="{{ horas_dominicales_total }}"
            />
            <input
              type="hidden"
              name="horas_extra_dominicales_total"
              value="{{ horas_extra_dominicales_total }}"
            />
            <input
              type="hidden"
              name="horas_extra_dom_nocturnas_total"
              value="{{ horas_extra_dom_nocturnas_total }}"
            />

            <input
              type="hidden"
              name="total_devengado"
              value="{{ total_devengado }}"
            />

            <input
              type="hidden"
              name="dias"
              value="{{ dias }}"
            />
            <input
              type="hidden"
              name="total_deducido"
              value="{{ total_deducido }}"
            />
            <input type="hidden" name="neto_pagado" value="{{ neto_pagado }}" />
            <input
              type="hidden"
              name="fecha_inicio"
              value="{{ fecha_inicio }}"
            />
          </div>

          <div class="botones">
            <button type="button" class="liquidar" onclick="confirmarPago()">
              Realizar liquidacion
            </button>
            <a href="{{url_for('index')}}" class="cancelar">Cancelar</a>
          </div>
        </form>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
      var typed = new Typed(".auto-type", {
        strings: ["Liquidación de Pago"],
        typeSpeed: 80,
        backSpeed: 50,
        looped: true,
      });
    </script>
    <script>
      function confirmarPago() {
        Swal.fire({
          title: "Confirmar Pago",
          text: "¿Estás seguro de que deseas efectuar el pago?",
          icon: "question",
          showCancelButton: true,
          cancelButtonText: "Cancelar",
          confirmButtonText: "Sí, Pagar",
          customClass: {
            confirmButton: "pagar",
            cancelButton: "nopago",
          },
          buttonsStyling: false,
        }).then((result) => {
          if (result.isConfirmed) {
            // Envía el formulario manualmente
            document.getElementById("pago-form").submit();
          }
        });
      }
    
      // Agrega este script para manejar la respuesta del servidor después de enviar el formulario
      document.getElementById("pago-form").addEventListener("submit", function (event) {
        event.preventDefault();
        fetch('/realizar_pago', {
          method: 'POST',
          body: new FormData(document.getElementById("pago-form"))
        })
        .then(response => response.json())
        .then(data => {
          Swal.fire({
            title: "Pago exitoso",
            text: data.message, // Aquí puedes mostrar un mensaje personalizado si es necesario
            icon: "success",
          }).then(() => {
            window.location.href = "{{ url_for('index') }}"; // Redirige a index.html
          });
        })
        .catch(error => {
          console.error('Error:', error);
          // Aquí puedes mostrar un Sweet Alert de error si ocurre algún problema
        });
      });
    </script>
  </body>
</html>
